/*
Feuille de styles - GLOBAL
Par Erick chez http://www.ixmedia.com
Date de creation: 2009-05-11
Modification: 2009-05-14 [Erick]
*/

/* COULEURS

TXT -----------> #3a3125 et #000
LINK ----------> #97012c
LIGNES grises -> #e0e0e0 et #d5d5d5 
*/

/* Mise en page */

body { padding: 0; margin: 0; font-size: 9pt; font-family: Verdana, Arial, sans-serif; 
       color: #3a3125; background: #fff url(../img/background-body.jpg) repeat-y 50% 0; }
#fond { padding: 0; margin: 0; position: relative; 
        background: url(../img/background-fond.jpg) no-repeat 50% 0; text-align: left; }
#enrobage { padding: 30px 0; margin: 0 auto; position: relative; width: 940px; }

/* Navigation */

#nav-gauche, #nav-droite { color: #fff; height: 25px; line-height: 25px; font-size: 80%; padding-left: 5px;
                           background: #4c4030 url(../img/sous-menu-top-coin-gauche.gif) no-repeat top left; }
#nav-gauche div, #nav-droite div { background: #4c4030 url(../img/sous-menu-top-coin-droit.gif) top right no-repeat; 
                                   padding-right: 5px; }
#nav-gauche a, #nav-droite a { padding: 0 5px; color: #fff; font-weight: bold; }
#nav-gauche { position: absolute; top: 2px; left: 0; }
#nav-droite { position: absolute; top: 2px; right: 0; }

/* Entête */

#logo { position: absolute; top: 70px; left: 0; }
#entete { margin-left: 220px; color: #97012c;
          font-family: Myriad Pro, Lucida Grande, sans-serif; font-size: 135%; }
#entete h1 { color: #3a3125; font-weight: normal; font-size: 185%; letter-spacing: -1px; 
             margin-bottom: 0.25em; }
#entete h1 em { color: #db602f; font-size: 55%; font-style: normal; letter-spacing: normal; }
#entete form { position: relative; width: 390px; height: 78px;
               background: url(../img/recherche-background.gif) no-repeat top left; }
#entete label { display: block; color: #3a3125; letter-spacing: -1px; font-size: 115%; }
#entete label em { font-size: 60%; font-style: normal; font-weight: normal; letter-spacing: normal; }
#entete input { position: absolute; top: 31px; left: 5px; width: 300px; height: 16px; background: none; border: none; }
#entete button { position: absolute; top: 17px; left: 329px; width: 45px; height: 45px; 
                 background: url(../img/recherche-button.gif) no-repeat top left;
                 border: none; cursor: pointer; }
#entete button:hover { background: url(../img/recherche-button-over.gif) no-repeat top left; }

/* Contenu */

#boite-principale { width: 744px; background: url(../img/contenu-bkg-middle.png) repeat-y 0 0; 
                    position: relative; margin-top: 30px; min-height: 500px; }
#boite-principale .top-border { position: absolute; top: -10px; }
#boite-principale .bottom-border { position: absolute; bottom: -10px; }
                    
#flash-message { margin: 10px 20px; background: #f3e3e7; color: #b03d5e; padding: 1em; font-size: 120%;
                 border: 1px solid #b03d5e; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#contenu { position: relative; padding: 5px 20px; }
#contenu img.top, .resultats img.top { height:10px; position:relative; top:-10px; left:0;}
#contenu img.bottom, .resultats img.bottom{ height:10px; position:relative; bottom:-10px; left:0;}

/* Régions/Disciplines */

#regions_disciplines { position: absolute; top: 30px; right: 0; width: 190px;
                       background: url(../img/col-droite-background-bottom.png) no-repeat bottom left;
                       font-size: 90%; padding-bottom: 8px; }
#regions_disciplines div { background: url(../img/col-droite-background.png) repeat-x top left; 
                           padding: 10px; }
#regions_disciplines h1 { font-weight: normal; font-size: 180%; letter-spacing: -1px; }
#regions_disciplines ul { margin: 0; padding: 0; list-style: none; }
#regions_disciplines li { margin: 0; padding: 0; }
#regions_disciplines a { display: block; margin-left: 5px; padding: 1px 5px; text-decoration: none; color: black; }
#regions_disciplines li.active a, 
#regions_disciplines a:hover { background: #d5d5d5; margin-left: 0; border-left: 5px solid #666; }

/* Liens */

a { text-decoration: none; color: #97012c; }
a:hover { text-decoration: underline; }
a img { border: none; }

/* Titres */

h1 { font-weight: normal; font-size: 180%; letter-spacing: -1px; }
h2 { font-weight: normal; font-size: 150%; letter-spacing: -1px; border-bottom: 2px solid #3a3125; clear: right; }
h3 { font-size: 120%; letter-spacing: -1px; }
h1 a, h2 a, h3 a { color: #3a3125; }
.sous-titre { margin: -1em 0 1.5em 0; }

/* Formulaires */

form { margin: 1em 0; }
form td, form th { vertical-align: top }
form th { width: 20em; text-align: left; font-weight: normal; }
input[type=text] { width: 20em }
input.date, form input.time { width: 8em; }
select { width: 80%; overflow: hidden }
fieldset { padding: 10px; margin: 0; position: relative; 
           border-top: 1px solid black; border-bottom: none;
           border-left: none; border-right: none; }
fieldset fieldset { border: 1px solid #ccc; background: #fafafa; margin: 10px; padding: 15px; }
legend { font-weight: bold; color: #000000; margin: 0; padding:0 0.5em; }
legend em { font-weight: normal; font-style: normal; }
form .help { font-size: 90%; margin: 0; }
form ul.errorlist { color:red; margin:0; padding: 0; }
form ul.errorlist li { list-style:none; }

.horizontal-radio-buttons ul { margin-left:0 }
.horizontal-radio-buttons li { display:inline }

.delete-row { font-size: 90%; position:absolute; top:5px; right:5px }
.add-row { font-size: 90%; float:right; margin-right:16px }
.edit-publication { font-size: 90%; position: absolute; bottom: 5px; right: 5px; cursor: pointer; }

.form-errors { margin: 10px 0px; background: #f3e3e7; color: #b03d5e; padding: 1em; font-size: 120%;
               border: 1px solid #b03d5e; }
/* Tables */

table { width: 100%; }
td, th { vertical-align: middle; padding: 5px }
td ul, td ol { padding: 0; margin: 0; list-style: none; }
tr.odd { background:#ddd; }


/* Styles inline */

.label { font-weight: bold; width: 150px; }

/* Page d'accueil */

.demi-gauche { width: 345px; background-color: #f5f5f5; float: left; }
.demi-droite { width: 345px; float: right; }

.box { position: relative; padding: 10px; font-size: 90%; }
.box h1 { margin: 0 0 3px 0; }

ul.actions-accueil { margin: 0; padding: 0 0 1em 0; list-style: none; font-size: 90%; }
ul.actions-accueil li { display: inline; padding-right: 10px; }

ul.liste-de-l-accueil { padding: 0; margin: 1em 0; list-style: none; }
ul.liste-de-l-accueil li { padding: 1em 0; border-top: 2px solid #d5d5d5;}
ul.liste-de-l-accueil img { float:left; margin:0 1em 5px 0; max-width:75px;}
ul.liste-de-l-accueil .titre { font-weight:bold; margin: 0.25em 0; }

#rss-agenda, #rss-actualites { position: absolute; top: 15px; right: 20px; }

/* Actions */

ul.actions { font-size: 90%; float: right; text-align: right; list-style: none; 
             background: #f4f4f4; border: 1px solid #e4e4e4; 
             padding: 10px 10px 10px 10px; 
             -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* Pages de recherche */

.pagination { text-align: center; margin: 1em 0; }
.resultatRecherche {  padding: 0 25px 1.5em; }
.details { font-size: 90%; margin-top: 6px; }

/* Clearfix */

.clearfix {display:inline-block; }
.clearfix:after, .container:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html .clearfix { height:1%; }
.clearfix { display:block; }

/* Cadre */

.cadre { width: 60%; margin: 100px auto; padding: 20px; background: #f9f9f9; border: 1px solid #aaa }
.cadre h1 { margin: -20px -20px 0 -20px; padding: 5px; background: #aaa; color: white; font-size: 120%; font-weight: bold; text-align: center; }

