{% extends "container_base.html" %}

{% load pagination_tags %}

{% block contenu %}
{% autopaginate actualites %}
<h4>Actualités</h4>

<div class="contenu-wrapper">
  <form action="" method="get">
    <input type="text" name="q" value="{{ request.GET.q }}" size="50" />
    <input type="submit" value="Rechercher" />
  </form>
  <div class="centre">{% paginate %}</div>
  <table id="repertoire">
    <tr>
    <th>Nom</th>
    <th>Source</th>
    </tr>
    {% for actualite in actualites %}
    <tr class="{% cycle 'odd' 'notodd' %}">
    <td><a href="{{ actualite.url }}" class="le-titre">{{ actualite.titre|truncatewords:20 }}</a></td>
    <td>{{ actualite.source.nom }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="centre">{% paginate %}</div>
</div>
{% endblock %}
