{% extends "container_base.html" %}
{% load sep %}
{% load pagination_tags %}

{% block sep_menu_droite %}
{% sep_menu_brique discipline_active region_active %}
{% endblock %}

{% block contenu %}
{% autopaginate actualites 10 %}

<ul class="actions">
    <li><a href="{% url aide %}#actualites">Aide</a></li>
</ul>

{{ entete|safe }}

<h2>Rechercher</h2>

<form action="" method="get">
    <table>
        {% with search_form as form %}
        {% include "render_search_form.html" %}
        {% endwith %}
    <tr><th></th><td><input type="submit" value="Rechercher" /></td></tr>
    </table>
</form>

<h2>Résultats</h2>
<div class="sous-titre">
    {{ nb_resultats }} appels d'offres correspondant à votre recherche
    (<a href="{% url rss_appels %}?{{ request.META.QUERY_STRING }}">Fil RSS</a>)
    {% if user.is_authenticated %}
    (<a href="{% url sauvegarder_recherche "appels" %}?{{ request.META.QUERY_STRING }}">Sauvegarder cette recherche</a>)
    {% endif %}
</div>

<div class="pagination">{% paginate %}</div>
{% for actualite in actualites %}
{% include "savoirs/actualite_resultat.html" %}
{% endfor %}
<div class="pagination">{% paginate %}</div>
{% endblock %}
