{% extends "container_base.html" %}

{% block contenu %}
<style>
  div.boite-recherche { display: none !important; }
  div#contenu { margin-top: 20px !important; }
  div#results { margin-top: 15px; }
  div.tabber { display: none; }
  th { font-weight: normal; padding-right: 10px;}
  input[type=text] { width: 250px; }
</style>
<script>
  function setup () {
    var type = '{{ type|default:"" }}';

    if (type == 'google') 
      $("#tabs-2").addClass ('tabbertabdefault');
    else if (type == '')
      $("#results").css ({display: 'none'});
  }

  {% if user.is_authenticated %}
  function showEditModal (uri) {
    $('#jsonsource').load ('{% url savoirs.views.json_get %}?uri='+uri, 
    function() {
      __jf = new JSONForm ('schema', 'mainform', 'jsonsource');
      __jf.setup ();
      $('#edit-form').dialog({height: 400, width: 650, modal: true});
    });
  }
  {% endif %}

  $(document).ready(function(){
    setup ();
    makePageLinks ({{ page|default:0 }}, {{ data.last_page|default:0 }}, 
                   '{{ data.more_link }}');
  });
</script>

<div id="tabs" class="tabber">
  <div id="tabs-1" class="tabbertab">
    <h2>Recherche détaillée</h2>
    <form method="get">
      <table>
        {{ form }}
        <tr>
          <th></th>
          <td><input type="submit" name="" value="Chercher" /></td>
        </tr>
      </table>
    </form>
  </div>
  <div id="tabs-2" class="tabbertab">
    <h2>Recherche google</h2>
    <form method="get">
      <input type="hidden" name="type" value="google" />
      <p style="margin-top: 10px;"><input type="text" name="google-q" value="{{ q.q|default:""}}" /><input type="submit" name="" value="Chercher" /></p>
    </form>
  </div>
</div>

<div id="results">
  <h4>Résultats de recherche:</h4>

  <div class="zone-texte">
    {% for r in data.results %}
      {% include "savoirs/resultat.html" %}
    {% empty %}
    <div class="resultatRecherche">
      <h2>Aucun résultat trouvé</h2>
    </div>
    {% endfor %}
  </div>
  <div class="resultatPages">
    <span id="pageLinks">
    </span>
  </div>

  {% if user.is_authenticated %}
  {% include "savoirs/editor.html" %}
  {% endif %}

  {% endblock %}
</div>
