{% extends "container_base.html" %}

{% block contenu %}
<h1>Nous contacter</h1>

<p>
Pour toute information sur les services proposés par ce site,<br />
vous pouvez nous contacter en écrivant à  : 
<span style="color: #800000;">{{courriel}}</span>
</p>
<p>
Pour toute information sur l'Agence universitaire de la francophonie,<br />
vous pouvez visitez notre site : 
<a href="http://www.auf.org">http://www.auf.org</a>.<br />
Vous y trouverez également les adresses et contacts de nos différentes implantations. 
</p>

<h2>AUF (Montréal)<br />Rectorat et Siège</h2>
<p>
<i>Adresse postale :</i><br />
Case postale du Musée<br />
C.P. 49714<br />
Montréal, (Québec) H3T 2A5<br />
Canada
</p>
<p>
<i>Adresse physique :</i><br />
3034, Boul. Edouard-Montpetit<br />
Montréal, (Québec) H3T 1J7<br />
Canada<br />
<br />
Téléphone :	+1 514 343 66 30<br />
Télécopie :	+1 514 343 21 07<br />
</p>

<h2>AUF (Paris)<br />Rectorat et Services centraux</h2>
<p>
<i>Adresse postale :</i><br />
4, place de la Sorbonne<br />
75005 Paris<br />
France 
</p>
<p>
 
<i>Adresse physique :</i><br />
4, place de la Sorbonne<br />
75005 Paris<br />
France<br />
<br />
Téléphone :	+33 1 44 41 18 18<br />
Télécopie :	+33 1 44 41 18 19<br />
</p>
{% endblock %}
