{% extends "container_base.html" %}

{% block contenu %}
<h1>Domaines de recherche</h1>
<dl>
    <dt>Littératures au Sud</dt>
    <dd>Ce domaine de recherche réaffirme la nécessité de la littérature comme
    un des enjeux de la formation de l’individu, de l’éducation et du
    développement. Non seulement elle a « un rôle aigu et précieux » à jouer
    dans la mondialisation en cours, celui d’une « mise en relation » qui nous
    permet de dire qu’elle est « un réel apprentissage du monde » (E. Glissant)
    mais elle débouche aussi sur des formations utiles dans les nouveaux
    métiers de la culture, de l’édition et des médias.</dd> 

    <dt>Didactique</dt>
    <dd>L’enseignement / apprentissage du français dans ses variations
    situationnelles (culturelle, sociolinguistique, pragmatique), dans la
    variété des contextes (plurilingues, politiques, structurels), et dans ses
    relations avec les pratiques d’autres langues, tant du point de vue de ses
    référents sociaux et scientifiques que de ses objectifs, ses moyens, ses
    modalités, ses approches, ses dispositifs, ses supports et des politiques
    éducatives et linguistiques qui les organisent.</dd> 

    <dt>Cultures</dt>
    <dd>La mondialisation ouvre un espace dynamique propice à la pluralisation
    des expressions culturelles et à la résistance à la standardisation des
    esprits et des modes de vie.<br />La francophonie a retenu parmi ses
    missions essentielles celle de favoriser la diversité culturelle et
    linguistique. Cette diversité s’offre au sein de notre présent sous forme
    d’un champ multiforme d’initiatives et de recherches, dont les enjeux
    concernent l’édification commune du monde contemporain. Elle appelle un
    partage des contributions savantes, des réflexions, des expériences et des
    pratiques créatives.</dd> 

    <dt>Langues pour le développement</dt>
    <dd>Le domaine de recherche « Langues pour le développement » a pour buts
    d'appuyer la recherche et la formation dans la perspective d'aménager le
    lexique du français et des langues au service du développement, de décrire
    et préserver la diversité linguistique, de valoriser la langue maternelle,
    l’intercompréhension et la traduction. Il s'agit également de développer
    les méthodologies en rapport avec ces objectifs : corpus, bases de données,
    bibliographies, thésaurus…</dd> 

    <dt>Cultures juridiques et gouvernance</dt> 
    <dd>Question centrale: Comment peut s’instaurer dans la pratique le
    dialogue des cultures juridiques en vue de la rénovation de l’État de
    droit, de la gouvernance démocratique et des droits de l’Homme dans
    l’espace francophone ? <br />Mots-clefs: cultures juridiques, diversité
    juridique, pluralisme, État de droit, gouvernance démocratique, droits de
    l’Homme, juges et juridictions.</dd> 

    <dt>Nouvelles figures de l'État</dt> 
    <dd>Question centrale: Comment, et dans quelle mesure, les dynamiques
    d’institutionnalisation du pouvoir dans le monde contemporain font-elles
    émerger une pluralité de figures de l’État, notamment en contexte de crise
    ou de sortie de crise ? <br />Mots-clefs: autorité, citoyenneté, crise,
    conflit, État, institutionnalisation du pouvoir, légalité, légitimité,
    pratiques sociales, représentations sociales, sphère publique.</dd> 

    <dt>Francophonie institutionnelle, État(s) francophone(s) et francophonie</dt> 
    <dd>Question centrale: Dans quelle mesure et à quelles conditions la
    Francophonie peut-elle, ou doit-elle, devenir un enjeu géopolitique pour
    les États francophones, et non plus simplement un ensemble géoculturel
    original rattaché à une langue en partage, compte tenu des dynamiques
    actuelles des relations internationales ? <br />Mots-clefs: gouvernance
    mondiale, migrations internationales, sécurité internationale, communautés
    francophones, individualisation, mondialisation.</dd> 

    <dt>Res@TICE</dt>
    <dd>L’arrivée massive des TICE, souvent mal contrôlée, dans les systèmes
    éducatifs, notamment ceux des pays du Sud, nécessite de revisiter certains
    concepts, de s’interroger sur les usages, les conditions d’appropriation,
    de pérennisation des dispositifs et des nouvelles ressources. Ce domaine de
    recherche vise à favoriser les partenariats entre les chercheurs de la
    francophonie du Sud, de l’Est et du Nord, à soutenir la diffusion de la
    recherche et d’assurer une animation scientifique dans le domaine des TICE,
    en lien avec des pratiques existantes ou émergentes et dans l’attention
    portée à la diversité des contextes et des cultures.</dd> 

    <dt>Agronomie</dt> 
    <dt>Biodiversité</dt> 
    <dt>Changements climatiques</dt> 
    <dt>Énergie</dt> 
    <dt>Ville durable</dt> 
    <dt>Économie du développement</dt> 
    <dt>Santé et bien-être des populations</dt> 

{% endblock %}
