{% extends "container_base.html" %}


{% block contenu %}
<h4>Agenda</h4>
<ul class="actions">
  {% include "savoirs/evenement_actions.html" %}
  <li><a href="/rss/agenda"><img src="/media/img/feed.png" /></a></li>
</ul>

<div class="contenu-wrapper">
<table id="repertoire">
    <tr>
        <th>Nom</th>
    </tr>
{% for e in evenements %}
    <tr class="{% cycle 'odd' 'notodd' %}">
        <td><a href="{% url savoirs.views.evenement e.uid.value %}" class="le-titre">{{ e.summary.value|truncatewords:20 }}</a></td>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}
