{% extends "container_base.html" %}

{% block extra-script %}
{{ form.media.js }}
{% endblock %}

{% block extra-style %}
{{ form.media.css }}
{% endblock %}

{% block contenu %}

<style>
    div.boite-recherche { display: none !important; }
    div#contenu { margin-top: 20px !important; }
    div#results { margin-top: 15px; }
    div.tabber { display: none; }
    th { font-weight: normal; padding-right: 10px;}
</style>

<h4>Soumettre un évènement</h4>
<form method="POST">
    <table class="form">
        {% include "render_form.html" %}
        <tr><td></td><td><input type="submit" value="Ajouter" /></td></tr>
    </table>
</form>

{% endblock %}
