{% extends "container_base.html" %}

{% block contenu %}
<div class="demi-gauche">
    <div id="chercheurs" class="box">
        <h1><a href="{% url chercheurs.views.index %}">Répertoire</a></h1>
        
        <ul class="actions-accueil">
            <li><a href="{% url chercheurs.views.index %}">Tous les chercheurs</a></li>
            {% include "chercheurs/actions.html" %}
        </ul>
        
        {% if chercheurs %}
        <strong>Nouveaux chercheurs<br />(ou fiches actualisées récemment)</strong>
        <ul class="liste-de-l-accueil">
            {% for chercheur in chercheurs %}
            <li>
                <div class="titre"><a href="{% url chercheurs.views.retrieve chercheur.id %}">{{ chercheur }}</a></div>
                {% if chercheur.discipline %}
                <div>Discipline : {{ chercheur.discipline }}</div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div id="actualites" class="box">
        <h1>
            <a href="{% url actualites %}">Actualités</a>
            <a id="rss-actualites" href="/rss/actualites"><img src="/media/img/feed.png" /></a>
        </h1> 
        <ul class="actions-accueil">
            <li><a href="{% url actualites %}">Toutes les actualités</a></li>
        </ul>
        
        <ul class="liste-de-l-accueil">
        {% for actualite in actualites %}
            <li>
                <div>{{ actualite.date|date:"d F Y" }}</div>
                <div class="titre">
                    <a href="{% url actualite actualite.id %}">{{ actualite.titre|truncatewords:20 }}</a>
                </div>
                {% if actualite.source %}
                <div>source: {{ actualite.source.nom }}</div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="appels" class="box">
        <h1>
            <a href="{% url appels %}">Appels d'offres scientifiques</a>
            <a id="rss-actualites" href="/rss/appels"><img src="/media/img/feed.png" /></a>
        </h1> 
        <ul class="actions-accueil">
            <li><a href="{% url appels %}">Tous les appels d'offres</a></li>
        </ul>
        
        <ul class="liste-de-l-accueil">
        {% for appel in appels %}
            <li>
                <div>{{ appel.date|date:"d F Y" }}</div>
                <div class="titre">
                    <a href="{% url actualite appel.id %}">{{ appel.titre|truncatewords:20 }}</a>
                </div>
                {% if appel.source %}
                <div>source: {{ appel.source.nom }}</div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="demi-droite">
    <div  id="ressources" class="box">
        <h1><a href="{% url savoirs.views.ressource_index %}">Ressources</a></h1>
        
        <ul class="actions-accueil">
            <li><a href="{% url savoirs.views.ressource_index %}">Toutes les ressources</a></li>
        </ul>
        
        <ul class="liste-de-l-accueil">
        {% for ressource in ressources %}
            <li>
                <div class="titre">
                    <a href="{% url savoirs.views.ressource_retrieve ressource.id %}"
                        >{{ ressource.title|safe|truncatewords:20 }}</a>
                </div>
                {% if resssource.creator %}
                <div>Auteur : {{ ressource.creator }}</div>
                {% endif %}
                <div>url : {{ ressource.uri|urlizetrunc:40 }}</div>
                {% if ressource.disciplines.all.count %}
                <div>Disciplines : {{ ressource.disciplines.all|join:", " }}</div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="agenda" class="box">
        <h1>
            <a href="{% url savoirs.views.evenement_index %}">Agenda</a>
            <a id="rss-agenda" href="/rss/agenda"><img src="/media/img/feed.png" /></a>
        </h1>
        <ul class="actions-accueil">
            <li><a href="{% url savoirs.views.evenement_index %}">Tous les évènements</a></li>
            {% include "savoirs/evenement_actions.html" %}
        </ul>

        <ul class="liste-de-l-accueil">
            {% for evenement in evenements %}
            <li>
                <div>{{ evenement.debut|date:"d/m/Y H\hi" }}</div>
                <div class="titre">
                    <a href="{% url savoirs.views.evenement evenement.id %}"
                        >{{ evenement.titre|truncatewords:20 }}</a>
                </div>
                <div>{{ evenement.description|truncatewords:20 }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div  id="sites" class="box">
        <h1><a href="{% url sitotheque.views.index %}">Sites</a></h1>
        
        <ul class="actions-accueil">
            <li><a href="{% url sitotheque.views.index %}">Sitothèque</a></li>
            {% include "sites/actions.html" %}
        </ul>
        
        <ul class="liste-de-l-accueil">
            {% for site in sites %}
            <li>
                <div class="titre">
                    <a href="{% url sitotheque.views.retrieve site.id %}"
                        >{{ site|truncatewords:20 }}</a>
                </div>
                <div><a href="{{ site.url }}">{{ site.url }}</a></div>
                {% if site.discipline.all.count %}
                <div>Disciplines : {{ site.discipline.all|join:", " }}</div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
