{% extends "container_base.html" %}

{% block contenu %}
<div class="demi-gauche clearfix">
    <div id="actualites" class="box">
        <h4>Actualités</h4>
        <a id="rss-actualites" href="/rss/actualites"><img src="/media/img/feed.png" /></a>

        <ul class="liste-de-l-accueil">
        {% comment %}<!-- dans la vue, cloner avoirListeActualitesAccueil -->{% endcomment %}
        {% for article in articles %}
            <li class="clearfix">
            <span class="la-date">{{ article.date|date:"d F Y" }}</span>
            <a href="{{ article.url }}" class="le-titre">{{ article.titre }}</a>
            {% if article.source %}
            <span class="la-date">source: {{ article.source.nom }}</span>
            {% endif %}
            {% comment %}
            <span class="le-resume">{{ article.texte }} -&nbsp;<a href="{{ article.url }}">Lire</a></span>
            {% endcomment %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="box">
        <h4>Chercheurs</h4>
        <ul class="sous-menu">
            <li><a href="{% url chercheurs.views.repertoire %}">Répertoire</a></li>
            <li><a href="{% url chercheurs.views.inscription %}">Inscription</a></li>
            {% if user_chercheur %}
            <li><a href="{% url chercheurs.views.perso %}">Espace chercheur</a></li>
            {% endif %}
        </ul>
        <ul class="liste-de-l-accueil">
        {% for chercheur in chercheurs %}
            <li class="clearfix">
            <a href="{% url chercheurs.views.retrieve chercheur.id %}" class="le-titre">{{ chercheur }}</a>
            {% if chercheurs.disciplines %}<span class="la-date">Disciplines : {{ chercheur.discipline }}</span>{% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>


<div class="demi-droite clearfix">
    <div class="box">
        <h4>Agenda</h4>
        <ul class="sous-menu">
            <li><a href="{% url savoirs.views.evenement_ajout %}">Soumettre un événement</a></li>
            <li><a href="{{ caldav_url }}">S'abonner</a></li>
        </ul>
        <ul class="liste-de-l-accueil">
        {% for event in events %}
            <li>
            <span class="la-date">{{ event.dtstart.value|date:"Y-m-d" }} 
              {{ event.dtstart.value|date:"H:i" }}</span>
            <a href="{% url savoirs.views.evenement event.uid.value %}" 
              class="le-titre">{{ event.summary.value }}</a>
            <span class="le-resume">{{ event.description.value }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="box">
        <h4>Sites</h4>
        <ul class="sous-menu">
            <li><a href="{% url sitotheque.views.index %}">Sitothèque</a></li>
        </ul>
        <ul class="liste-de-l-accueil">
        {% for site in sites %}
            <li class="clearfix">
            <a href="{% url sitotheque.views.retrieve site.id %}" class="le-titre">{{ site }}</a>
            <a href="{{ site.url }}" class="le-titre">{{ site.url }}</a>
            {% if site.discipline.all.count %}<span class="la-date">Disciplines : {{ site.discipline.all|join:", " }}</span>{% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
