{% extends "container_base.html" %}

{% block contenu %}
<h1>Mentions légales</h1>
	
<p>
© AUF - Tous droits réservés 

<p>
Le contenu du site Web « Savoirs en partage » de l'AUF est proposé à titre d'information générale uniquement. 
</p>
<p>
Sur ce site Web, le masculin est utilisé comme représentant des deux sexes, sans discrimination à l'égard des hommes et des femmes et dans le seul but d'alléger le texte. 
</p>
<p>
La classification des diplômes utilisée tient compte, dans la mesure des informations disponibles, de la réforme Licence, Master, Doctorat (LMD) actuellement en cours dans une partie des pays concernés. 
</p>
<p>
Ce portail présente des travaux de recherche qui rendent compte de l'état de la science au moment de leur publication : l'AUF et/ou ses représentants ne peuvent en aucun cas être tenus responsables relativement à quelque préjudice, inconvénient et/ou dommage lié directement ou indirectement à la lecture, à la consultation et/ou à l'utilisation du présent site Web et/ou de son contenu. 
</p>
<p>
L'AUF et/ou ses représentants ne peuvent en aucun cas être tenus responsables relativement au contenu des sites Web externes pour lesquels et vers lesquels elle offre des liens. 
</p>
<p>
Nonobstant ce qui précède, toute commercialisation, directe ou indirecte, de quelque texte contenu dans le présent site Web est strictement interdite. 
</p>
<p>
En utilisant le présent site Web, vous acceptez et reconnaissez que tous et chacun de ses aspects, dont telle utilisation, sont sujets aux lois du Québec et du Canada. 
</p>
{% endblock %}
