{% extends "container_base.html" %}

{% block contenu %}
<script>
  $(document).ready(function(){
    makePageLinks ({{ page|default:0 }}, {{ data.last_page|default:0 }}, 
                   '{{ data.more_link }}');
  });

  {% if user.is_authenticated %}
  function showEditModal (uri) {
    $('#jsonsource').load ('{% url savoirs.views.json_get %}?uri='+uri, 
    function() {
      __jf = new JSONForm ('schema', 'mainform', 'jsonsource');
      __jf.setup ();
      $('#edit-form').dialog({height: 400, width: 650, modal: true});
    });
  }
  {% endif %}


</script>

{% if ressources %}
<h4>Ressources correspondant à « {{ q }} » ({{ ressources|length }} sur {{ nb_ressources }}):</h4>
<div class="zone-texte">
  {% for ressource in ressources %}
  {% include "savoirs/ressource_resultat.html" %} 
  {% endfor %}
  <a href="{% url savoirs.views.ressource_index %}?q={{ q|urlencode }}">Toutes les {{ nb_ressources }} ressources correspondant à « {{ q }} »</a>
</div>
{% endif %}

{% if user.is_authenticated %}
{% include "savoirs/editor.html" %}
{% endif %}

{% endblock %}
