{% extends "container_base.html" %}

{% block contenu %}
<script>
  $(document).ready(function(){
    makePageLinks ({{ page|default:0 }}, {{ data.last_page|default:0 }}, 
                   '{{ data.more_link }}');
  });

  {% if user.is_authenticated %}
  function showEditModal (uri) {
    $('#jsonsource').load ('{% url savoirs.views.json_get %}?uri='+uri, 
    function() {
      __jf = new JSONForm ('schema', 'mainform', 'jsonsource');
      __jf.setup ();
      $('#edit-form').dialog({height: 400, width: 650, modal: true});
    });
  }
  {% endif %}


</script>

{% if ressources %}
<h4>Ressources correspondant à « {{ q }} » ({{ ressources|length }} sur {{ total_ressources }}):</h4>
<div class="zone-texte">
  {% for ressource in ressources %}
  {% include "savoirs/ressource_resultat.html" %} 
  {% endfor %}
  {% ifnotequal ressources|length total_ressources %}
  <p><a href="{% url savoirs.views.ressource_index %}?q={{ q|urlencode }}">Toutes les {{ total_ressources }} ressources correspondant à « {{ q }} »</a></p>
  {% endifnotequal %}
</div>
{% endif %}

{% if actualites %}
<h4>Actualités correspondant à « {{ q }} » ({{ actualites|length }} sur {{ total_actualites }}):</h4>
<div class="zone-texte">
  {% for actualite in actualites %}
  {% include "savoirs/actualite_resultat.html" %} 
  {% endfor %}
  {% ifnotequal actualites|length total_actualites %}
  <p><a href="{% url savoirs.views.actualite_index %}?q={{ q|urlencode }}">Toutes les {{ total_ressources }} actualités correspondant à « {{ q }} »</a></p>
  {% endifnotequal %}
</div>
{% endif %}

{% if evenements %}
<h4>Événements correspondant à « {{ q }} » ({{ evenements|length }} sur {{ total_evenements }}):</h4>
<div class="zone-texte">
  {% for evenement in evenements %}
  {% include "savoirs/evenement_resultat.html" %}
  {% endfor %}
  {% ifnotequal evenements|length total_evenements %}
  <p><a href="{% url savoirs.views.evenement_index %}?q={{ q|urlencode }}">Tous les {{ total_evenements }} événements correspondant à « {{ q }} »</a></p>
  {% endifnotequal %}
</div>
{% endif %}

{% if not ressources and not actualites and not evenements %}
<h4>Aucune ressource ne correspond à « {{ q }} »</h4>
<div class="zone-texte">
  <p><a href="{% url savoirs.views.index %}">Retour à la page d'accueil</a></p>
</div>
{% endif %}

{% if user.is_authenticated %}
{% include "savoirs/editor.html" %}
{% endif %}

{% endblock %}
