{% extends "container_base.html" %}
{% load url from future %}

{% block contenu %}
<h1>Recherches sauvegardées</h1>

{% if types %}
{% for type in types %}
<h2>{{ type.label }}</h2>
<ul class="items-and-actions">
    {% for recherche in type.recherches %}
    <li>
        <a href="{{ recherche.url }}">{{ recherche.nom }}</a>
        <div class="item-actions">
            {% if recherche.rss_url %}
            <a href="{{ recherche.rss_url }}">Fil RSS</a>
            {% endif %}
            {% if recherche.alerte_courriel %}
            <a href="{% url "desactiver_alerte" recherche.id %}" class="alerte active">Alerte courriel</a>
            {% else %}
            <a href="{% url "activer_alerte" recherche.id %}" class="alerte">Alerte courriel</a>
            {% endif %}
            <a href="{% url "supprimer_recherche" recherche.id %}">Supprimer</a>
            <a href="{% url "editer_recherche" recherche.id %}">Modifier</a>
        </div>
    </li>
    {% endfor %}
</ul>
</table>
{% endfor %}
{% else %}
<p>Aucune recherche sauvegardée.</p>
{% endif %}

{% endblock %}
