{% extends "container_base.html" %}

{% block contenu %}
<h4>Ressource</h4>

<a class="back" href="javascript:history.go(-1)">Retourner à la page précédente</a>

<div class="zone-texte ressource-retrieve">

    <h3>{{ ressource.title }}</h3>

    {% if ressource.subject %}
    <div><span class="lbl">Sujet:</span> {{ ressource.subject }}</div>
    {% endif %}

    {% if ressource.creator %}
    <div><span class="lbl">Auteur:</span> {{ ressource.creator }}</div>
    {% endif %}
    {% if ressource.description %}
    <div class="resultatResume"><span class="lbl">Description:</span> {{ ressource.description }}</div>
    {% endif %}

    {% if ressource.source %}
    <div><span class="lbl">Source:</span> {{ ressource.source }}</div>
    {% endif %}

    {% if ressource.publisher %}
    <div><span class="lbl">Editeur:</span> {{ ressource.publisher }}</div>
    {% endif %}

    {% if ressource.format %}
    <div><span class="lbl">Format:</span> {{ ressource.format }}</div>
    {% endif %}

    {% if ressource.type %}
    <div><span class="lbl">Type:</span> {{ ressource.type }}</div>
    {% endif %}





    <div class="fiche"><span>Fiche: </span><a href="{% url savoirs.views.ressource_retrieve ressource.id %}">{% url savoirs.views.ressource_retrieve ressource.id %}</a></div>
    <div class="original"><span>Contenu original: </span><a target="_blank" href="{{ ressource.uri }}">{{ ressource.uri }}</a></div>
    <div class="provenance"><span>Provenance: </span><a target="_blank" href="{{ ressource.getServeurURL }}">{{ ressource.getServeurURL }}</a></div>



</div>
{% endblock %}
