{% extends "container_base.html" %}

{% block contenu %}
<h1>{{ ressource.title }}</h1>

{% if ressource.subject %}
<div><span class="label">Sujet:</span> {{ ressource.subject }}</div>
{% endif %}

{% if ressource.creator %}
<div><span class="label">Auteur:</span> {{ ressource.creator }}</div>
{% endif %}

{% if ressource.description %}
<div><span class="label">Résumé:</span> {{ ressource.description }}</div>
{% endif %}

{% if ressource.source %}
<div><span class="label">Source:</span> {{ ressource.source }}</div>
{% endif %}

{% if ressource.publisher %}
<div><span class="label">Editeur:</span> {{ ressource.publisher }}</div>
{% endif %}

{% if ressource.format %}
<div><span class="label">Format:</span> {{ ressource.format }}</div>
{% endif %}

{% if ressource.type %}
<div><span class="label">Type:</span> {{ ressource.type }}</div>
{% endif %}

{% if disciplines %}
<div><span class="label">Disciplines:</span> {{ disciplines|join:", " }}</div>
{% endif %}

{% if regions %}
<div><span class="label">Régions:</span> {{ regions|join:", " }}</div>
{% endif %}

<div class="details">
    <div><span>Contenu original: </span><a target="_blank" href="{{ ressource.uri }}">{{ ressource.uri }}</a></div>
    <div><span>Provenance: </span><a target="_blank" href="{{ ressource.getServeurURL }}">{{ ressource.getServeurURL }}</a></div>
</div>
{% endblock %}
