{% load search %}

<div class="resultatRecherche">
    <div class="titre">
        <a href="{% url savoirs.views.ressource_retrieve ressource.id %}">{{ ressource.title|highlight:search_regexp }}</a>
    </div>
    {% if ressource.creator %}
    <div><span class="label">Auteur:</span> {{ ressource.creator|highlight:search_regexp }}</div>
    {% endif %}
    {% if ressource.description %}
    <div><span class="label">Résumé:</span> {{ ressource.description|excerpt:search_regexp|highlight:search_regexp }}</div>
    {% endif %}
    <div class="details">
        <div><span>Fiche: </span><a href="{% url savoirs.views.ressource_retrieve ressource.id %}">{% url savoirs.views.ressource_retrieve ressource.id %}</a></div>
        <div><span>Contenu original: </span><a target="_blank" href="{{ ressource.uri }}">{{ ressource.uri }}</a></div>
        <div><span>Provenance: </span><a target="_blank" href="{{ ressource.getServeurURL }}">{{ ressource.getServeurURL }}</a></div>
    </div>
</div>
