{% extends "container_base.html" %}

{% load pagination_tags %}
{% load search %}

{% block contenu %}
<h4>Ressources</h4>
{% autopaginate ressources 15 %}
<div class="contenu-wrapper">
  <form action="" method="get">
    <table>
      {{ search_form.as_table }}
      <tr><th></th><td><input type="submit" value="Rechercher" /></td></tr>
    </table>
  </form>
  <p><strong>{{ nb_resultats }} ressources correspondant à votre recherche :</strong></p>
  <div class="centre">{% paginate %}</div>
  <div class="zone-texte">
    {% for r in ressources %}
    <div class="resultatRecherche">
      <a class="le-titre" href="{{ r.uri }}">{{ r.title|highlight:search_regexp }}</a>
      {% if r.creator %}
      <div><span class="lbl">Auteur:</span> {{ r.creator|highlight:search_regexp }}</div>
      {% endif %}
      {% if r.description %}
      <div class="resultatResume"><span class="lbl">Description:</span> {{ r.description|excerpt:search_regexp|highlight:search_regexp }}</div>
      {% endif %}
    </div>
    {% empty %}
    <div class="resultatRecherche">
      <h2>Aucun résultat trouvé</h2>
    </div>
    {% endfor %}
  </div>
  <div class="centre">{% paginate %}</div>
</div>
{% endblock %}
