{% extends "container_base.html" %}

{% block contenu %}
<script>
    $(document).ready(function(){
        makePageLinks ({{ page|default:0 }}, {{ data.last_page|default:0 }}, 
        '{{ data.more_link }}');
    });
</script>

<h1>Sites &#8212; Sites AUF</h1>
<form method="get" action="">
    <p style="margin-top: 10px;"><input type="text" size="40" name="q" value="{{ google_q|default:""}}" /><input type="submit" name="" value="Chercher" /></p>
</form>

{% if data %}
<div id="results">
    {% for r in data.results %}
    {% include "savoirs/sites_auf_resultat.html" %}
    {% empty %}
    <div class="resultatRecherche">
        <h2>Aucun résultat trouvé</h2>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span id="pageLinks">
    </span>
</div>
{% endif %}
{% endblock %}
