{% extends "admin/base_site.html" %}
{% load sep %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<h1>Statistiques</h1>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Hommes</th>
            <th>Femmes</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>
                Nombre de chercheurs
            </td>
            <td><a href="{% url admin:chercheurs_chercheur_changelist %}?genre=m">{{ nb_hommes }}</a></td>
            <td><a href="{% url admin:chercheurs_chercheur_changelist %}?genre=f">{{ nb_femmes }}</a></td>
            <td><a href="{% url admin:chercheurs_chercheur_changelist %}">{{ nb_chercheurs }}</a></td>
        </tr>
        <tr>
            <td>
                Fiches mises à jour depuis le 17 novembre 2010
            </td>
            <td>{{ mises_a_jour_hommes }}</td>
            <td>{{ mises_a_jour_femmes }}</td>
            <td>{{ mises_a_jour }}</td>
        </tr>
    </tbody>
</table>

<div class="subcol">
    <h2>Chercheurs par région</h2>

    <table>
        <thead>
            <tr>
                <th>Région</th>
                <th>Hommes</th>
                <th>Femmes</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for region in regions %}
            <tr>
                <td>{{ region.nom }}</td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=m&region={{ region.id }}"
                        >{{ hommes_par_region|getitem:region.id }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=f&region={{ region.id }}"
                        >{{ femmes_par_region|getitem:region.id }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?region={{ region.id }}"
                        >{{ chercheurs_par_region|getitem:region.id }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Chercheurs du Nord et du Sud</h2>
    <table>
        <thead>
            <th></th>
            <th>Hommes</th>
            <th>Femmes</th>
            <th>Total</th>
        </thead>
        <tbody>
            {% for hemisphere in hemispheres %}
            <tr>
                <td>{{ hemisphere }}</td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=m&nord_sud={{ hemisphere }}"
                        >{{ hommes_par_hemisphere|getitem:hemisphere }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=f&nord_sud={{ hemisphere }}"
                        >{{ femmes_par_hemisphere|getitem:hemisphere }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?nord_sud={{ hemisphere }}"
                        >{{ chercheurs_par_hemisphere|getitem:hemisphere }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Chercheurs par domaine de recherche</h2>

    <table>
        <thead>
            <tr>
                <th>Domaine de recherche</th>
                <th>Hommes</th>
                <th>Femmes</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for domaine in domaines %}
            <tr>
                <td>{{ domaine.nom }}</td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=m&groupes={{ domaine.id }}"
                        >{{ hommes_par_domaine|getitem:domaine.id }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=f&groupes={{ domaine.id }}"
                        >{{ femmes_par_domaine|getitem:domaine.id }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?groupes={{ domaine.id }}"
                        >{{ chercheurs_par_domaine|getitem:domaine.id }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Chercheurs par communautés de chercheurs</h2>

    <table>
        <thead>
            <tr>
                <th>Communautés de chercheurs</th>
                <th>Hommes</th>
                <th>Femmes</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for groupe in groupeschercheurs %}
            <tr>
                <td>{{ groupe.nom }}</td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=m&groupes={{ groupe.id }}"
                        >{{ hommes_par_groupe|getitem:groupe.id }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=f&groupes={{ groupe.id }}"
                        >{{ femmes_par_groupe|getitem:groupe.id }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?groupes={{ groupe.id }}"
                        >{{ chercheurs_par_groupe|getitem:groupe.id }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="subcol">
    <h2>Chercheurs par discipline</h2>

    <table>
        <thead>
            <tr>
                <th>Discipline</th>
                <th>Hommes</th>
                <th>Femmes</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for discipline in disciplines %}
            <tr>
                <td>{{ discipline.nom }}</td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=m&discipline={{ discipline.id }}"
                        >{{ hommes_par_discipline|getitem:discipline.id }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?genre=f&discipline={{ discipline.id }}"
                        >{{ femmes_par_discipline|getitem:discipline.id }}</a>
                </td>
                <td>
                    <a href="{% url admin:chercheurs_chercheur_changelist %}?discipline={{ discipline.id }}"
                        >{{ chercheurs_par_discipline|getitem:discipline.id }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
