<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Savoirs en partage - Agence universitaire de la Francophonie</title>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.datepicker.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/global.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/formulaire.js"></script>

        <link href="{{ MEDIA_URL }}css/jquery/jquery.datepicker.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}css/global.css" rel="stylesheet" type="text/css" />

        <!--[if lt IE 7]>
        <link href="/css/ie6.css" rel="stylesheet" type="text/css" media="screen" />
        <script src="/js/DD_belatedPNG.js"></script>
        <script>
            DD_belatedPNG.fix('.top, .bottom, #col-droite, #contenu, .resultats');
        </script>
        <![endif]-->
    </head>

    <body>
        <div id="fond">
            <div id="enrobage" class="clearfix">
                <h1>
                    <a href="http://www.auf.org" title="Agence universitaire de la Francophonie">Agence universitaire de la Francophonie</a>
                </h1>

                <div id="sous-menu" class="clearfix">
                    {% if user.is_authenticated %}
                    <a href="{% url django.contrib.auth.views.logout %}" class="bout-droit">Déconnexion</a>
                    {% else %}
                    <a href="{% url django.contrib.auth.views.login %}" class="bout-droit">Connexion</a>
                    {% endif %}
                    <span>|</span>
                    <a href="{% url savoirs.views.nous_contacter %}">Nous contacter</a>
                    <span>|</span>
                    <a href="{% url savoirs.views.a_propos %}">À propos de</a>
                    <span>|</span>
                    <a href="{% url savoirs.views.index %}" class="bout-gauche">Accueil</a>
                </div>

                <div id="col-droite">
                    {% load sep_menu %}
                    {% sep_menu %}
                    <img src="{{ MEDIA_URL }}img/col-droite-background-bottom.png" width="190" height="8" alt="bottom" align="bottom" class="bottom" />
                </div>

                <div>
                    <h2 class="slogan">Savoirs en partage 
                        <span>Le portail des ressources scientifiques
                            <br />et pédagogiques de l'AUF</span>
                    </h2>

                    <div class="boite-recherche">
                        <h3>Recherche <span>dans tous les sites reliés à l'AUF</span></h3>

                        <form name="fRecherche" id="fRecherche" action="{% url savoirs.views.recherche %}" method="get">
                            <input name="q" id="recherche" type="text" value="{{ q|default:"" }}" />
                            <button title="Lancer la recherche" type="submit">&nbsp;</button>
                        </form>

                        <p>
                        <a href="#">Recherche avancée</a> | 
                        <a href="{% url savoirs.views.conseils %}">Conseils</a>
                        </p>
                    </div>
                </div>
                <div id="contenu" class="clearfix">
                    <img src="{{ MEDIA_URL }}img/contenu-bkg-top.png" width="744" height="10" alt="top" align="top" class="top" />

                    <div class="clearfix">
                        {% block contenu %}
                        {% endblock %}
                    </div>
                    <!-- Fin block -->
                    <img src="{{ MEDIA_URL }}img/contenu-bkg-bottom.png" width="744" height="10" alt="bottom" align="bottom" class="bottom" />
                </div>

                <div class="clear"></div>	
            </div>
        </div>	
    </body>
</html>
