# binaires
*.pyc
*.pyo

# Fichier temporaires:
.*.swp
.*.swo
*~
\#*#

# DB de dev
*.db

# restants de merge
*.orig
*.rej

# Configuration du projet - par environnement
conf.py
backend_config.py
django.wsgi

# buildout
.installed.cfg
bin
develop-eggs
downloads
eggs
log
parts
tmp

# developpement
src

auf_savoirs_en_partage_django/backend_config.py
