# binaires
*.pyc
*.pyo

# Fichier temporaires:
.*.swp
.*.swo
*~
\#*#

# DB de dev
*.db

# restants de merge
*.orig
*.rej

# Configuration du projet - par environnement
conf.py
django.wsgi

# buildout
.installed.cfg
bin
develop-eggs
downloads
eggs
log
parts
tmp

# developpement
src

# Fichiers écrits par le serveur

/auf_savoirs_en_partage/media/agenda
/sitestatic
/media
/data
