{% load form_tags %}

{% if forms.has_errors %}
<div id="flash-message">Votre fiche n'a pas été enregistrée. Veuillez remplir tous les champs obligatoires (*).</div>
{% endif %}   
<fieldset class="horizontal-radio-buttons">
    <legend>Informations personnelles</legend>
    {% with forms.personne as form %}
    {% include "table_form.html" %}
    {% endwith %}
</fieldset>

<fieldset>
    <legend>Informations académiques</legend>
    <table>
        {% form_field forms.chercheur.statut %}
        {% form_field forms.chercheur.diplome %}
        {% form_field forms.groupes.groupes %}
    </table>
</fieldset>

<fieldset>
    <legend>Etablissement de rattachement <span style="color:red">*</span></legend>
    <table>
        {% form_field forms.chercheur.etablissement %}
        {% form_field forms.chercheur.pays_etablissement %}
    </table>
</fieldset>

<fieldset>
    <legend>Discipline, thèmes de recherche</legend>
    <table>
        {% form_field forms.chercheur.discipline %}
        {% form_field forms.chercheur.theme_recherche %}
        {% form_field forms.chercheur.groupe_recherche %}
        {% form_field forms.chercheur.mots_cles %}
        {% form_field forms.chercheur.url_site_web %}
        {% form_field forms.chercheur.url_blog %}
        {% form_field forms.chercheur.url_reseau_social %}
    </table>
</fieldset>

<fieldset>
    <legend>Activités en Francophonie</legend>
    <table class="horizontal-radio-buttons">
        {% form_field forms.chercheur.membre_instance_auf %}
        {% form_field forms.chercheur.membre_instance_auf_details %}
        {% form_field forms.chercheur.membre_instance_auf_dates %}
        {% form_field forms.chercheur.expert_oif %}
        {% form_field forms.chercheur.expert_oif_details %}
        {% form_field forms.chercheur.expert_oif_dates %}
        {% form_field forms.chercheur.membre_association_francophone %}
        {% form_field forms.chercheur.membre_association_francophone_details %}
        {% form_field forms.chercheur.membre_reseau_institutionnel %}
        {% form_field forms.chercheur.membre_reseau_institutionnel_details %}
        {% form_field forms.chercheur.membre_reseau_institutionnel_dates %}
    </table>
</fieldset>

<fieldset id="expertises" class="horizontal-radio-buttons">
    <legend>Expertises</legend>
    {{ forms.expertises.management_form }}
    {% for form in forms.expertises.forms %}
    <fieldset>
        <table>
            {% form_field form.nom %}
            {% form_field form.date %}
            {% form_field form.organisme_demandeur %}
            {% form_field form.organisme_demandeur_visible %}
        </table>
        {{ form.id }}
        {{ form.DELETE }}
    </fieldset>
    {% endfor %}
    <table>
        {% form_field forms.chercheur.expertises_auf %}
    </table>
</fieldset>

<fieldset>
    <legend>Thèse ou mémoire</legend>
    <div>
        <div class="publication">
            {% with forms.these as form %}
            {% include "table_form.html" %}
            {% endwith %}
        </div>
    </div>
</fieldset>

<fieldset id="publications">
    <legend>Publications</legend>
    {{ forms.publications.management_form }}
    {% for form in forms.publications.forms %}
    <fieldset>
        {% if form.instance.publication_affichage %}
        <p class="publication_affichage"><strong>Renseignements préalablement enregistrés:</strong><br />
        {{ form.instance.publication_affichage }}</p>
        {% endif %}
        <table>
            {% form_field form.auteurs %}
            {% form_field form.titre %}
            {% form_field form.revue %}
            {% form_field form.annee %}
            {% form_field form.editeur %}
            {% form_field form.lieu_edition %}
            {% form_field form.nb_pages %}
            {% form_field form.url %}
        </table>
        {{ form.id }}
        {{ form.DELETE }}
    </fieldset>
    {% endfor %}
</fieldset>
<table>
    <tr>
        <td>{{ forms.chercheur.attestation }}</td>
        <td>
            {{ forms.chercheur.attestation.label_tag }}
            {{ forms.chercheur.attestation.errors }}
        </td>
    </tr>
</table>
