{% load form_tags %}
{% load url from future %}

{% if forms.has_errors %}
<div id="flash-message">Votre fiche n'a pas été enregistrée. Veuillez remplir tous les champs obligatoires (*).</div>
{% endif %}   
<fieldset class="horizontal-radio-buttons">
    <legend>Informations personnelles</legend>
    <table>
        {% form_field forms.chercheur.nom %}
        {% form_field forms.chercheur.prenom %}
        {% if forms.chercheur.courriel %}
        {% form_field forms.chercheur.courriel %}
        {% else %}
        <tr>
          <th style="width: 150px;">Courriel</th>
          <td>{{ forms.chercheur.instance.courriel }}</td>
        </tr>
        {% endif %}
        {% form_field forms.chercheur.afficher_courriel %}
        {% form_field forms.chercheur.genre %}
    </table>
</fieldset>

<fieldset>
    <legend>Coordonnées</legend>
    <p><em>Confidentiel: ces renseignements, à usage interne de l'AUF, ne
    seront pas divulgués ni affichés sur le portail ouvert au
    public.</em></p>
    <table>
        {% form_field forms.chercheur.adresse_postale %}
        {% form_field forms.chercheur.telephone %}
    </table>
</fieldset>

<fieldset>
    <legend>Informations académiques</legend>
    <table>
        {% form_field forms.chercheur.grade_universitaire %}
        {% form_field forms.chercheur.statut %}
        {% form_field forms.chercheur.diplome %}
        {% with forms.groupes.domaines_recherche as field %}
        <tr>
            <th style="width: 150px;">
                <a href="{% url "domaines-de-recherche" %}">{{ field.label }}</a>
                {% if field.errors %}{{ field.errors }}{% endif %}
            </th>
            <td>{{ field }}
            {% if field.field.help_text %}<p class="help">{{ field.field.help_text|safe }}</p>{% endif %}
            </td>
        </tr>
        {% endwith %}

        {% form_field forms.chercheur.habilite_recherches %}

        {% with forms.groupes.groupes_chercheur as field %}
        <tr>
            <th style="width: 150px;">
                {{ field.label }}
                {% if field.errors %}{{ field.errors }}{% endif %}
            </th>
            <td>{{ field }}
            {% if field.field.help_text %}<p class="help">{{ field.field.help_text|safe }}</p>{% endif %}
            </td>
        </tr>
        {% endwith %}
    </table>
</fieldset>

<fieldset>
    <legend>Etablissement de rattachement <span style="color:red">*</span></legend>
    <table>
        {% form_field forms.chercheur.pays_etablissement %}
        {% form_field forms.chercheur.etablissement %}
    </table>
</fieldset>

<fieldset>
    <legend>Thèse <em>(ou tout autre travail de recherche &#8212; mémoire, HDR, etc. &#8212; encadré par un universitaire)</em></legend>
    {% with forms.these as form %}
    {% include "table_form.html" %}
    {% endwith %}
</fieldset>

<fieldset>
    <legend>Discipline, thèmes de recherche</legend>
    <table>
        {% form_field forms.chercheur.discipline %}
        {% form_field forms.chercheur.theme_recherche %}
        {% form_field forms.chercheur.equipe_recherche %}
        {% form_field forms.chercheur.mots_cles %}
        {% form_field forms.chercheur.url_site_web %}
        {% form_field forms.chercheur.url_blog %}
        {% form_field forms.chercheur.url_reseau_social %}
    </table>
</fieldset>

<fieldset class="horizontal-radio-buttons">
    <legend>Activités en Francophonie</legend>
    <fieldset>
        <table>
            {% form_field forms.chercheur.membre_instance_auf %}
            {% form_field forms.chercheur.membre_instance_auf_nom %}
            {% form_field forms.chercheur.membre_instance_auf_fonction %}
            {% form_field forms.chercheur.membre_instance_auf_dates %}
        </table>
    </fieldset>
    <fieldset>
        <table>
            {% form_field forms.chercheur.expert_oif %}
            {% form_field forms.chercheur.expert_oif_details %}
            {% form_field forms.chercheur.expert_oif_dates %}
        </table>
    </fieldset>
    <fieldset>
        <table>
            {% form_field forms.chercheur.membre_association_francophone %}
            {% form_field forms.chercheur.membre_association_francophone_details %}
        </table>
    </fieldset>
    <fieldset>
        <table>
            {% form_field forms.chercheur.membre_reseau_institutionnel %}
            {% form_field forms.chercheur.membre_reseau_institutionnel_nom %}
            {% form_field forms.chercheur.membre_reseau_institutionnel_fonction %}
            {% form_field forms.chercheur.membre_reseau_institutionnel_dates %}
            {% form_field forms.chercheur.expertises_auf %}
        </table>
    </fieldset>
</fieldset>

<fieldset id="expertises" class="horizontal-radio-buttons">
    <legend>Expertises</legend>
    {{ forms.expertises.management_form }}
    {% for form in forms.expertises.forms %}
    <fieldset>
        <table>
            {% form_field form.nom %}
            {% form_field form.date %}
            {% form_field form.organisme_demandeur %}
            {% form_field form.organisme_demandeur_visible %}
        </table>
        {{ form.id }}
        {{ form.DELETE }}
    </fieldset>
    {% endfor %}
    <table>
        <tr>
            <th>{{ forms.chercheur.pas_de_sollicitation_expertises.label }}</th>
            <td>{{ forms.chercheur.pas_de_sollicitation_expertises }}</td>
        </tr>
    </table>
</fieldset>

<fieldset id="publications">
    <legend>Publications</legend>
    {{ forms.publications.management_form }}
    {% for form in forms.publications.forms %}
    <fieldset>
        {% if form.instance.publication_affichage %}
        <p class="publication_affichage"><strong>Renseignements préalablement enregistrés:</strong><br />
        {{ form.instance.publication_affichage }}</p>
        {% endif %}
        <table>
            {% form_field form.auteurs %}
            {% form_field form.titre %}
            {% form_field form.revue %}
            {% form_field form.annee %}
            {% form_field form.editeur %}
            {% form_field form.lieu_edition %}
            {% form_field form.nb_pages %}
            {% form_field form.url %}
        </table>
        {{ form.id }}
        {{ form.DELETE }}
    </fieldset>
    {% endfor %}
</fieldset>
<table>
    <tr>
        <td>{{ forms.chercheur.attestation }}</td>
        <td>
            {{ forms.chercheur.attestation.label_tag }} <span style="color:red">*</span>
            {{ forms.chercheur.attestation.errors }}
        </td>
    </tr>
</table>
