{% extends "container_base.html" %}

{% block contenu %}
<h1>Répertoire des chercheurs - conversion</h1>

<p>
Pour chaque <b>domaine de recherche</b>, la liste des anciens <b>réseaux de
chercheurs</b> associés. Les chercheurs de ces anciens réseaux ont été
associés automatiquement aux nouveaux domaines de recherche.
</p>

<h2>Thématique prioritaire 1 : Langue française, diversité culturelle et linguistique</h2>

<h3>Domaine de recherche "Langues pour le développement"</h3>
<ul>
    <li>réseau de chercheurs "Dynamique des langues et francophonie"</li>
    <li>réseau de chercheurs "Étude du français en francophonie"</li>
    <li>réseau de chercheurs "Lexicologie, Terminologie, Traduction"</li>
</ul>

<h3>Domaine de recherche "Littératures au Sud"</h3>
<ul>
    <li>réseau de chercheurs "Littérature francophone d'Afrique subsaharienne et de l'océan Indien (CRITAOI)"</li>
    <li>réseau de chercheurs "Littératures d'enfance"</li>
</ul>

<h3>Domaine de recherche "Cultures"</h3>
<ul>
    <li>réseau de chercheurs "Diversité des expressions culturelles et artistiques, et mondialisations"</li>
</ul>

<h2>Thématique prioritaire 2 : État de droit, démocratie et société</h2>

<h3>Domaine de recherche "Cultures juridiques et gouvernance"</h3>
<ul>
    <li>réseau de chercheurs "Droits fondamentaux"</li>
    <li>réseau de chercheurs "Droit de la santé"</li>
    <li>réseau de chercheurs "Genre, droits et citoyenneté"</li>
</ul>

<h3>Domaine de recherche "Nouvelles figures de l'État"</h3>
<ul>
    <li>réseau de chercheurs "Droits fondamentaux"</li>
    <li>réseau de chercheurs "Droit de la santé"</li>
</ul>

<h3>Domaine de recherche "Francophonie institutionnelle, État(s) francophone(s) et francophonie"</h3>
<ul>
    <li>réseau de chercheurs "Droits fondamentaux"</li>
    <li>réseau de chercheurs "Droit de la santé"</li>
    <li>réseau de chercheurs "L'état de droit saisi par la philosophie"</li>
</ul>

<h2>Thématique prioritaire 3 : Environnement, eau, énergie et climat</h2>

<h3>Domaine de recherche "Agronomie"</h3>
<ul>
    <li>réseau de chercheurs "Biotechnologies végétales"</li>
    <li>réseau de chercheurs "Génie des procédés appliqué à l'agro-alimentaire"</li>
    <li>réseau de chercheurs "Érosion et gestion conservatoire des eaux et des sols"</li>
    <li>réseau de chercheurs "Environnement et développement durable"</li>
</ul>

<h3>Domaine de recherche "Biodiversité"</h3>
<ul>
    <li>réseau de chercheurs "Environnement et développement durable"</li>
</ul>

<h3>Domaine de recherche "Changements climatiques"</h3>
<ul>
    <li>réseau de chercheurs "Télédétection"</li>
</ul>

<h3>Domaine de recherche "Énergie"</h3>
<ul>
    <li>réseau de chercheurs "Environnement et développement durable"</li>
</ul>

<h3>Domaine de recherche "Ville durable"</h3>
<ul>
    <li>réseau de chercheurs "Environnement et développement durable</li>
</ul>

<h2>Thématique prioritaire 4 : Développement durable et bien-être des populations</h2>

<h3>Domaine de recherche "Économie du développement"</h3>
<ul>
    <li>réseau de chercheurs "Entrepreneuriat"</li>
    <li>réseau de chercheurs "Analyse économique et développement"</li>
</ul>

<h3>Domaine de recherche "Santé et bien-être des populations"</h3>
<ul>
    <li>réseau de chercheurs "Maladies parasitaires et vectorielles"</li>
    <li>réseau de chercheurs "Dynamiques démographiques et sociétés"</li>
</ul>

<h2>Thématique prioritaire 5 : Économie de la connaissance</h2>

<h3>Domaine de recherche "Res@TICE"</h3>
<ul>
    <li>réseau de chercheurs "Réseau de chercheurs en technologies de l'information et de la communication pour l'enseignement"</li>
</ul>

{% endblock %}
