{% extends "container_base.html" %}

{% block extra-script %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formset.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chercheur_edit.js"></script>
{% endblock %}

{% block contenu %}
<h4>{{chercheur.personne.prenom}} {{chercheur.personne.nom}}</h4>
<form method="post">
    {% include "chercheurs/chercheur_form.html" %}    
    <fieldset>
        <legend>Publications</legend>
        <div>
            <div class="infotip">
              <strong>Renseignements préalablements enregistrés</strong>
              <p>{{forms.publication1.instance.publication_affichage|default:"-"}}</p>
            </div>
            <div class="publication">
              {% with forms.publication1 as form %}
                  {% include "table_form.html" %}
              {% endwith %}
            </div>
            <div style="clear:both"></div>
        </div>
        <p id="show_publications">+ Autres publications</p>
        <div class="publications_autre">
            <h6>- Publication 2</h6>
            <div class="infotip">
              <strong>Renseignements préalablements enregistrés</strong>
              <p>{{forms.publication2.instance.publication_affichage|default:"-"}}</p>
            </div>
            <div class="publication">
                {% with forms.publication2 as form %}
                    {% include "table_form.html" %}
                {% endwith %} 
            </div>
            <div style="clear:both"></div>
            <h6>- Publication 3</h6>
            <div class="infotip">
              <strong>Renseignements préalablements enregistrés</strong>
              <p>{{forms.publication3.instance.publication_affichage|default:"-"}}</p>
            </div>
            <div class="publication">
                {% with forms.publication3 as form %}
                    {% include "table_form.html" %}
                {% endwith %}
            </div>
            <div style="clear:both"></div>     
            <h6>- Publication 4</h6>
            <div class="infotip">
              <strong>Renseignements préalablements enregistrés</strong>
              <p>{{forms.publication4.instance.publication_affichage|default:"-"}}</p>
            </div>
            <div class="publication">
                {% with forms.publication4 as form %}
                    {% include "table_form.html" %}
                {% endwith %}
            </div>
            <div style="clear:both"></div>
        </div>
    </fieldset>

    <input type="submit" value="Sauvegarder" />
</form>
{% endblock %}
