<h1>{{ chercheur.civilite }} {{ chercheur.prenom }} {{ chercheur.nom|upper }}</h1>

<div id="fiche_chercheur">

    <div>{{ chercheur.etablissement_display }}</div>
    {% if chercheur.afficher_courriel %}
    <div>{{ chercheur.courriel_display }}</div>
    {% else %}
    <a href="/chercheurs/{{ chercheur.id }}/envoie_courrier"}}>
        Envoyer un message
    </a>
    {% endif %}
    <div><span class="label">Région: </span>{{ chercheur.region.nom }}</div>

    <h2>Informations académiques</h2>
    <table>
        <tr>
            <td class="label">Statut:</td>
            <td>{{ chercheur.statut_display }}</td>
        </tr>
        <tr>
            <td class="label">Diplôme:</td>
            <td>{{ chercheur.diplome }}</td>
        </tr>
        <tr>
            <td class="label">Domaine{{ chercheur.domaines_recherche.all|pluralize }} de recherche:</td>
            <td>
                <ul>
                    {% for dr in chercheur.domaines_recherche.all %}
                    <li>{{ dr.nom }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="label">Communauté{{ chercheur.groupes_chercheur.all|pluralize }} de chercheurs:</td>
            <td>
                <ul>
                    {% for gc in chercheur.groupes_chercheur.all %}
                    <li>{{ gc.nom }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% if chercheur.these %}
        <tr>
            <td>
                <div class="label">Thèse:</div>
                (ou tout autre travail de recherche &#8212; mémoire, HDR, etc. &#8212; encadré par un universitaire)
            </td>
            <td>
                {% if chercheur.these.url %}
                <i><a href="{{ chercheur.these.url }}">{{ chercheur.these.titre }}</a></i>,
                {% else %}
                <i>{{ chercheur.these.titre }}</i>, 
                {% endif %}
                {{ chercheur.these.etablissement }},
                {{ chercheur.these.annee }}{% if chercheur.these.nb_pages %},
                {{ chercheur.these.nb_pages }} pages{% endif %}.
            </td>
        </tr>
        <tr>
            <td class="label">Directeur:</td>
            <td>{{ chercheur.these.directeur }}</td>
        </tr>
        {% endif %}
    </table>

    <h2>Discipline, thèmes de recherche</h2>
    <table>
        {% if chercheur.discipline %}
        <tr>
            <td class="label">Discipline:</td>
            <td>{{ chercheur.discipline }}</td>
        </tr>
        {% endif %}
        {% if chercheur.theme_recherche %}
        <tr>
            <td class="label">Thèmes de recherche:</td>
            <td>{{ chercheur.theme_recherche }}</td>
        </tr>
        {% endif %}
        {% if chercheur.equipe_recherche %}
        <tr>
            <td class="label">Équipe de recherche:</td>
            <td>{{ chercheur.equipe_recherche }}</td>
        </tr>
        {% endif %}
        {% if chercheur.mots_cles %}
        <tr>
            <td class="label">Mots-clés:</td>
            <td>{{ chercheur.mots_cles }}</td>
        </tr>
        {% endif %}
        {% if chercheur.url_site_web %}
        <tr>
            <td class="label">Url site web:</td>
            <td><a href="{{ chercheur.url_site_web }}">{{ chercheur.url_site_web }}</a></td>
        </tr>
        {% endif %}
        {% if chercheur.url_blog %}
        <tr>
            <td class="label">Blog:</td>
            <td><a href="{{ chercheur.url_blog }}">{{ chercheur.url_blog }}</a></td>
        </tr>
        {% endif %}
        {% if chercheur.url_reseau_social %}
        <tr>
            <td class="label">Réseau social:</td>
            <td><a href="{{ chercheur.url_reseau_social }}">{{ chercheur.url_reseau_social }}</a></td>
        </tr>
        {% endif %}
    </table>

    {% if chercheur.membre_instance_auf or chercheur.expert_oif or chercheur.membre_association_francophone or chercheur.membre_reseau_institutionnel %}
    <h2>Activités en Francophonie</h2>
    <table>
        {% if chercheur.membre_instance_auf %}
        <tr>
            <td class="label">Membre d'une instance de l'AUF</td>
            <td>
                {{ chercheur.get_membre_instance_auf_nom_display }},
                {{ chercheur.membre_instance_auf_fonction }}, 
                {{ chercheur.membre_instance_auf_dates }}
            </td>
        </tr>
        {% endif %}
        {% if chercheur.expert_oif %}
        <tr>
            <td class="label">A déjà été sollicité par l'OIF</td>
            <td>{{ chercheur.expert_oif_details }}, {{ chercheur.expert_oif_dates }}</td>
        </tr>
        {% endif %}
        {% if chercheur.membre_association_francophone %}
        <tr>
            <td class="label">Membre d'une association ou d'une société savante francophone</td>
            <td>{{ chercheur.membre_association_francophone_details }}</td>
        </tr>
        {% endif %}
        {% if chercheur.membre_reseau_institutionnel %}
        <tr>
            <td class="label">Membre d'instances d'un réseau institutionnel de l'AUF</td>
            <td>
                {{ chercheur.get_membre_reseau_institutionnel_nom_display }},
                {{ chercheur.membre_reseau_institutionnel_fonction }},
                {{ chercheur.membre_reseau_institutionnel_dates }}
            </td>
        </tr>
        {% endif %}
    </table>
    {% endif %}

    {% if chercheur.expertises.count %}
    <h2>Expertises</h2>
    {% for expertise in chercheur.expertises.all %}
    <table>
        <tr>
            <td class="label">Titre de l'expertise:</td>
            <td>{{ expertise.nom }}</td>
        </tr>
        {% if expertise.date %}
        <tr>
            <td class="label">Date:</td>
            <td>{{ expertise.date }}</td>
        </tr>
        {% endif %}
        {% if expertise.organisme_demandeur and expertise.organisme_demandeur_visible %}
        <tr>
            <td class="label">Organisme demandeur:</td>
            <td>{{ expertise.organisme_demandeur }}</td>
        </tr>
        {% endif %}
    </table>
    <hr>
    {% endfor %}
    <table>
        <tr>
            <td class="label">Est disposé à réaliser des expertises pour l'AUF</td>
            <td>{{ chercheur.expertises_auf|yesno:"Oui,Non" }}</td>
        </tr>
    </table>
    {% endif %}

    {% if chercheur.publications.count %}
    <h2>Publications</h2>
    <ul class="publications">
        {% for publication in chercheur.publications.all %}
        {% if publication.titre %}
        <li>
            <p> {% if publication.auteurs %}{{ publication.auteurs }},{% endif %}
                <i>{{publication.titre}}</i>{% if publication.revue %}, 
                {{publication.revue}}{% endif %}{% if publication.annee %}, 
                {{publication.annee}}{% endif %}{% if publication.editeur %}, 
                {{publication.editeur}}{% endif %}{% if publication.lieu_edition %}, 
                {{publication.lieu_edition}}{% endif %}{% if publication.nb_pages %}, 
                {{publication.nb_pages}} pages{% endif %}.
                {% if publication.url %}
                <br /><a href="{{ publication.url }}">{{ publication.url }}</a>
                {% endif %}
            </p>
        </li>
        {% else %}
            {% if publication.publication_affichage %}
            <li><p>{{publication.publication_affichage}}</p></li>
            {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Divers</h2>
    <table>
      <tr>
        <td class="label">Date de la dernière modification:</td>
        <td>{{ chercheur.date_modification }}</td>
      </tr>
    </table>
</div>
