<div id="fiche_chercheur">

    <div><a href="mailto:{{ chercheur.personne.courriel }}">{{ chercheur.personne.courriel }}</a></div>
    <div>{{ chercheur.etablissement_display }}</div>
    <div><span class="label">Région: </span>{{ chercheur.region.nom }}</div>

    <h5>Informations académiques</h5>
    <table>
        <tr>
            <td class="label">Statut:</td>
            <td>{{ chercheur.statut_display }}</td>
        </tr>
        <tr>
            <td class="label">Diplôme:</td>
            <td>{{ chercheur.diplome }}</td>
        </tr>
        <tr>
            <td class="label">Domaine{{ chercheur.groupes.all|pluralize }} de recherche:</td>
            <td>
                <ul>
                    {% for g in chercheur.groupes.all %}
                    <li>{{ g.nom }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% if chercheur.these %}
        <tr>
            <td class="label">Thèse ou mémoire:</td>
            <td>
                {% if chercheur.these.url %}
                <i><a href="{{ chercheur.these.url }}">{{ chercheur.these.titre }}</a></i>,
                {% else %}
                <i>{{ chercheur.these.titre }}</i>, 
                {% endif %}
                {{ chercheur.these.etablissement }},
                {{ chercheur.these.annee }}{% if chercheur.these.nb_pages %},
                {{ chercheur.these.nb_pages }} pages{% endif %}.
            </td>
        </tr>
        <tr>
            <td class="label">Directeur:</td>
            <td>{{ chercheur.these.directeur }}</td>
        </tr>
        {% endif %}
    </table>

    <h5>Discipline, thèmes de recherche</h5>
    <table>
        {% if chercheur.discipline %}
        <tr>
            <td class="label">Discipline:</td>
            <td>{{ chercheur.discipline }}</td>
        </tr>
        {% endif %}
        {% if chercheur.theme_recherche %}
        <tr>
            <td class="label">Thèmes de recherche:</td>
            <td>{{ chercheur.theme_recherche }}</td>
        </tr>
        {% endif %}
        {% if chercheur.groupe_recherche %}
        <tr>
            <td class="label">Groupe de recherche:</td>
            <td>{{ chercheur.groupe_recherche }}</td>
        </tr>
        {% endif %}
        {% if chercheur.mots_cles %}
        <tr>
            <td class="label">Mots-clés:</td>
            <td>{{ chercheur.mots_cles }}</td>
        </tr>
        {% endif %}
        {% if chercheur.url_site_web %}
        <tr>
            <td class="label">Url site web:</td>
            <td><a href="{{ chercheur.url_site_web }}">{{ chercheur.url_site_web }}</a></td>
        </tr>
        {% endif %}
        {% if chercheur.url_blog %}
        <tr>
            <td class="label">Blog:</td>
            <td><a href="{{ chercheur.url_blog }}">{{ chercheur.url_blog }}</a></td>
        </tr>
        {% endif %}
        {% if chercheur.url_reseau_social %}
        <tr>
            <td class="label">Réseau social:</td>
            <td><a href="{{ chercheur.url_reseau_social }}">{{ chercheur.url_reseau_social }}</a></td>
        </tr>
        {% endif %}
    </table>

    {% if chercheur.membre_instance_auf or chercheur.expert_oif or chercheur.membre_association_francophone or chercheur.membre_reseau_institutionnel %}
    <h5>Activités en Francophonie</h5>
    <table>
        {% if chercheur.membre_instance_auf %}
        <tr>
            <td class="label">Membre d'une instance de l'AUF</td>
            <td>{{ chercheur.membre_instance_auf_details }}, {{ chercheur.membre_instance_auf_dates }}</td>
        </tr>
        {% endif %}
        {% if chercheur.expert_oif %}
        <tr>
            <td class="label">A déjà été sollicité par l'OIF</td>
            <td>{{ chercheur.expert_oif_details }}, {{ chercheur.expert_oif_dates }}</td>
        </tr>
        {% endif %}
        {% if chercheur.membre_association_francophone %}
        <tr>
            <td class="label">Membre d'une association ou d'une société savante francophone</td>
            <td>{{ chercheur.membre_association_francophone_details }}</td>
        </tr>
        {% endif %}
        {% if chercheur.membre_reseau_institutionnel %}
        <tr>
            <td class="label">Membre d'instances d'un réseau institutionnel de l'AUF</td>
            <td>{{ chercheur.membre_reseau_institutionnel_details }},
                {{ chercheur.membre_reseau_institutionnel_dates }}</td>
        </tr>
        {% endif %}
    </table>
    {% endif %}

    <h5>Expertises</h5>
    {% for expertise in chercheur.expertises.all %}
    <table>
        <tr>
            <td class="label">Titre de l'expertise:</td>
            <td>{{ expertise.nom }}</td>
        </tr>
        {% if expertise.date %}
        <tr>
            <td class="label">Date:</td>
            <td>{{ expertise.date }}</td>
        </tr>
        {% endif %}
        {% if expertise.organisme_demandeur and expertise.organisme_demandeur_visible %}
        <tr>
            <td class="label">Organisme demandeur:</td>
            <td>{{ expertise.organisme_demandeur }}</td>
        </tr>
        {% endif %}
    </table>
    <hr>
    {% endfor %}
    <table>
        <tr>
            <td class="label">Est disposé à réaliser des expertises pour l'AUF</td>
            <td>{{ chercheur.expertises_auf|yesno:"Oui,Non" }}</td>
        </tr>
    </table>

    {% if chercheur.publications %}
    <h5>Publications</h5>
    <table id="publications">
        {% for publication in chercheur.publications.all %}
        <tr>
            {% if forloop.first %}
            <td class="label">Publications:</td>
            {% else %}
            <td></td>
            {% endif %}
            {% include "chercheurs/publication_display.html" %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
