{% extends "container_base.html" %}
{% load pagination_tags %}
{% load form_tags %}
{% load sep %}

{% block contenu %}
{% autopaginate groupes 20 %}

<ul class="actions">
    <li><a href="{% url aide %}#repertoire">Aide</a></li>
    {% include "chercheurs/actions.html" %}
</ul>

{{ entete|safe }}

<div style="clear:both;width:400px;float:left;padding-right:20px;">
<h2>Recherche</h2>

<form method="get" action="">
    <table>
		<tr>
		{% for field in search_form %}
			{% if field.is_hidden %}
				{{ field }}
			{% else %}
				<td>{{ field }}</td>
			{% endif %}
		{% endfor %}
        <td><input type="submit" class="bouton" value="Rechercher" /></td>
		</tr>
    </table>
</form>

<h2>Résultats</h2>
<div class="sous-titre"> 
    {{ nb_resultats }} resultats correspondant à votre recherche
</div>

<div class="pagination">{% paginate %}</div>

{% if groupes %}
<ul>
{% for groupe in groupes %}
<li><a href="{% url chercheurs.views.groupe_retrieve groupe.id %}">{{ groupe.nom }}</a></li>
{% endfor %}
</ul>
{% else %}
	<div class="resultatRecherche">
		<h2>Aucun résultat trouvé</h2>
	</div>
{% endif %}
<div class="pagination">{% paginate %}</div>

</div>

{% if mesgroupes %}
<div style="float:left;">
<h2>Mes communautés</h2>
<ul>
{% for groupe in mesgroupes %}
<li><a href="{% url chercheurs.views.groupe_retrieve groupe.id %}">{{ groupe.nom }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}

<div style="clear:both;"></div>

{% if messages %}
	<h2>Activités récentes de mes communautés</h2>
	{% for message in messages %}
	{% include 'chercheurs/groupe_message_display_full.html' %}
	{% endfor %}
{% endif %}


{% endblock %}
