{% extends "container_base.html" %}

{% block contenu %}
<h1>{{ groupe }}</h1>

<div style="clear:both;width:400px;float:left;padding-right:20px;">

	<p>{{ groupe.page_accueil|safe }}</p>

	<h2>Derniers messages <a href="{% url rss_messages groupe.pk %}"><img src="/media/img/feed.png" /></a></h2>
	{% if messages %}
		{% for message in messages.all %}
			{% include 'chercheurs/groupe_message_display.html' %}
		{% endfor %}
	</ul>
	{% else %}
	<p>Aucun message</p>
	{% endif %}
	<p><a href="{% url groupe_messages groupe.pk %}">Ajouter ou voir tous les messages</a></p>
</div>

<div style="float:left;">
	{% if membres %}
	<h2>Membres</h2>
	<ul>
		{% for membre in membres.all %}
		<li>{{ membre.chercheur.prenom }} {{ membre.chercheur.nom|upper }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<!--<h2>Recherches prédéfinies</h2>-->
</div>

{% endblock %}
