{% extends "container_base.html" %}
{% load pagination_tags %}

{% block contenu %}
{% autopaginate messages 20 %}

<a class="rss-icon" href="{% url rss_messages groupe.pk %}"><img src="/media/img/feed.png" /></a>

<h1>{{ groupe }}</h1>
<p><a href="{% url groupe_retrieve groupe.pk %}">Retour à la page du groupe</a></p>

<h2>Messages</h2>
{% if messages %}
	{% for message in messages.all %}
		{% include 'chercheurs/groupe_message_display.html' %}
	{% endfor %}
	<div class="pagination">{% paginate %}</div>
{% else %}
<p>Aucun message</p>
{% endif %}

{% if est_membre_actif %}
<a name="ajout"></a><h2>Nouveau message</h2>
<form method="post" action="">
    <table>
        {% include "render_form.html" %}
        <tr><th></th><td><input type="submit" class="bouton" value="Envoyer" /></td></tr>
    </table>
</form>
{% endif %}

{% endblock %}
