{% extends "container_base.html" %}
{% load pagination_tags %}
{% load form_tags %}
{% load sep %}

{% block contenu %}
{% autopaginate chercheurs 20 %}

<ul class="actions">
    <li><a href="{% url aide %}#repertoire">Aide</a></li>
    {% include "chercheurs/actions.html" %}
</ul>

{{ entete|safe }}

<h2>Recherche</h2>

<form method="get" action="">
    <table>
        {% with search_form as form %}
        {% include "render_form.html" %}
        {% endwith %}
        <tr><th></th><td><input type="submit" class="bouton" value="Rechercher" /></td></tr>
    </table>
</form>

<h2>Résultats</h2>
<div class="sous-titre"> 
    {{ nb_chercheurs }} chercheurs correspondant à votre recherche
    {% if user.is_authenticated %}
    (<a href="{% url sauvegarder_recherche "chercheurs" %}?{{ request.META.QUERY_STRING }}">Sauvegarder cette recherche</a>)
    {% endif %}
</div>

<div class="pagination">{% paginate %}</div>
<table id="repertoire">
    <tr>
        <th>{% sort_link "nom" "Nom" %}</th>
        <th>{% sort_link "etablissement" "Établissement" %}</th>
        <th>{% sort_link "pays" "Pays" %}</th>
    </tr>
    {% for chercheur in chercheurs %}
    <tr class="{% cycle 'odd' 'notodd' %}">
        <td><a href="{% url chercheurs.views.retrieve id=chercheur.id %}">{{ chercheur }}</a></td>
        <td>{% firstof chercheur.etablissement.nom chercheur.etablissement_autre_nom %}</td>
        <td>{% firstof chercheur.etablissement.pays.nom chercheur.etablissement_autre_pays.nom %}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">{% paginate %}</div>

{% endblock %}
