{% extends "container_base.html" %}

{% block contenu %}
<h4>Inscription au répertoire de chercheurs</h4>

<div class="contenu-wrapper">
<form method="post">
    {% include "chercheurs/chercheur_form.html" %}   
    <fieldset>
        <legend>Publications</legend>
        <div>
            <div class="publication">
              {% with publication1_form as form %}
                  {% include "table_form.html" %}
              {% endwith %}
            </div>
            <div style="clear:both"></div>
        </div>
        <p id="show_publications">+ Autres publications</p>
        <div class="publications_autre">
            <h6>- Publication 2</h6>
            {% with publication2_form as form %}
                {% include "table_form.html" %}
            {% endwith %} 
            <h6>- Publication 3</h6>
            {% with publication3_form as form %}
                {% include "table_form.html" %}
            {% endwith %}     
            <h6>- Publication 4</h6>
            {% with publication4_form as form %}
                {% include "table_form.html" %}
            {% endwith %}
        </div>
    </fieldset>
    <br />
    <input type="submit" name="Submit" value="Inscription" class="bouton" />
</form>
</div>
{% endblock %}
