{% extends "container_base.html" %}

{% block contenu %}
<h4>{{ chercheur }}</h4>

<div class="contenu-wrapper">
    <div id="fiche_chercheur">
        <p>{{chercheur.personne.courriel}}</p>
        <p>{% firstof chercheur.etablissement.nom chercheur.etablissement_autre_nom "-" %}, {% firstof chercheur.etablissement.pays chercheur.etablissement_autre_pays "-" %}</p>
        
        <table>
            <tr>
                <td class="label">Nationalité:</td>
                <td>{{chercheur.nationalite.nom}}</td>
            </tr>
            <tr>
                <td class="label">Fonction:</td>
                <td>{{chercheur.fonction}}</td>
            </tr>
            <tr>
                <td class="label">Diplôme:</td>
                <td>{{chercheur.diplome}}</td>
            </tr>
        </table>
    
    </div>
</div>

{% endblock %}
