{% extends "container_base.html" %}

{% block contenu %}

<ul class="actions">
    <li><a href="{% url chercheurs.views.index %}">Tous les chercheurs</a></li>
    <li><a href="{% url chercheurs.views.groupe_index %}">Communautés de chercheurs</a></li>
    <li><a href="{% url recherches %}">Recherches sauvegardées</a></li>
    <li><a href="{% url chercheurs.views.edit %}">Éditer votre fiche</a></li>
    <li><a href="{% url chercheurs-password-change %}">Modifier votre mot de passe</a></li>
    <li><a href="{% url savoirs.views.evenement_ajout %}">Ajouter un événement à l'agenda</a></li>
    <li><a href="{% url chercheurs-logout %}">Vous déconnecter</a></li>
    <li><a href="{% url chercheurs.views.desinscription %}">Vous désinscrire du répertoire</a></li>
</ul>

{% include "chercheurs/fiche.html" %}

{% endblock %}
