{% extends "container_base.html" %}
{% load sep %}

{% block contenu %}

{% if modification %}
    <span class="contenu-wrapper message">Votre fiche a bien été enregistrée.</span>
{% endif %}
    
<h4>{{ chercheur }}</h4>
<ul class="actions">
    <li><a href="{% sep_url chercheurs.views.index %}">Tous les chercheurs</a></li>
    <li><a href="{% sep_url chercheurs.views.edit %}">Éditer votre fiche</a></li>
    <li><a href="{% sep_url chercheurs.views.change_password %}">Modifier votre mot de passe</a></li>
    <li><a href="{% url django.contrib.auth.views.logout %}">Déconnexion</a></li>
</ul>

<div class="contenu-wrapper">
    {% include "chercheurs/fiche.html" %}
</div>

{% endblock %}
