{% if publication.titre %}
    <p>
        {% if publication.auteurs %}{{ publication.auteurs }},{% endif %}
        <i>{{publication.titre}}</i>{% if publication.revue %}, 
        {{publication.revue}}{% endif %}{% if publication.annee %}, 
        {{publication.annee}}{% endif %}{% if publication.editeur %}, 
        {{publication.editeur}}{% endif %}{% if publication.lieu_edition %}, 
        {{publication.lieu_edition}}{% endif %}{% if publication.nb_pages %}, 
        {{publication.nb_pages}} pages{% endif %}.
        {% if publication.url %}
        <br /><a href="{{ publication.url }}">{{ publication.url }}</a>
        {% endif %}
    </p>
{% else %}
    {% if publication.publication_affichage %}
        <p>{{publication.publication_affichage}}</p>
    {% endif %}
{% endif %}
