{% if publication.titre %}
    <td class="souligne">
    {{publication.titre}}
    {% if publication.annee %}{{publication.annee}}{% endif %}
    {% if publication.revue %}<br />{{publication.revue}}{% endif %}
    {% if publication.editeur %}<br />{{publication.editeur}}{% endif %}
    {% if publication.lieu_edition %}<br />{{publication.lieu_edition}}{% endif %}
    {% if publication.nb_pages %}<br />{{publication.nb_pages}}{% endif %}
    {% if publication.url %}<br />{{publication.url}}{% endif %}
    </td>
{% else %}
    {% if publication.publication_affichage %}
        <td class="souligne">{{publication.publication_affichage}}</td>
    {% endif %}
{% endif %}
