{% if publication.titre %}
    <td class="souligne">
        <i>{{publication.titre}}</i>{% if publication.revue %}, 
        {{publication.revue}}{% endif %}{% if publication.annee %}, 
        {{publication.annee}}{% endif %}{% if publication.editeur %}, 
        {{publication.editeur}}{% endif %}{% if publication.lieu_edition %}, 
        {{publication.lieu_edition}}{% endif %}{% if publication.nb_pages %}, 
        {{publication.nb_pages}} pages{% endif %}.
        {% if publication.url %}
        <br /><a href="{{ publication.url }}">{{ publication.url }}</a>
        {% endif %}
    </td>
{% else %}
    {% if publication.publication_affichage %}
        <td class="souligne">{{publication.publication_affichage}}</td>
    {% endif %}
{% endif %}
