{% load pagination_tags %}
{% load sorting_tags %}

{% autosort chercheurs %}
{% autopaginate chercheurs 20 %}

<h5>Recherche</h5>

<form method="get" action="" class="contenu-wrapper">
    <table id="repertoire_recherche">
    {{repertoire_form.as_table}}
    <tr><td colspan="2" class="Lib"><input type="submit" class="bouton" value="Rechercher" /></td></tr>
    </table>
</form>

<h5>Résultats : {{nb_chercheurs}} chercheurs correspondant à votre recherche</h5>

<div class="centre">{% paginate %}</div>
<div class="contenu-wrapper">
    <table id="repertoire">
        <tr>
            <th>{% anchor personne__nom Nom %}</th>
            <th>{% anchor etablissement__nom Établissement %}</th>
            <th>{% anchor etablissement__pays Localisation %}</th>
        </tr>
    {% for chercheur in chercheurs %}
        <tr class="{% cycle 'odd' 'notodd' %}">
            <td><a href="{% url chercheurs.views.retrieve chercheur.id %}">{{ chercheur }}</a></td>
            <td>{% firstof chercheur.etablissement chercheur.etablissement_autre_nom %}</td>
            <td>{% firstof chercheur.etablissement.pays chercheur.etablissement_autre_pays %}</td>
        </tr>
    {% endfor %}
    </table>
</div>
<div class="centre">{% paginate %}</div>

