{% extends "container_base.html" %}

{% block contenu %}
<h4>Chercheurs</h4>

<h4>{{ chercheur }}</h4>

<div class="contenu-wrapper">
    <div id="fiche_chercheur">
        <p>{{chercheur.personne.courriel}}</p>
        <p>{% firstof chercheur.etablissement.nom chercheur.etablissement_autre_nom "-" %}, {% firstof chercheur.etablissement.pays chercheur.etablissement_autre_pays "-" %}</p>
        
        <table>
            <tr>
                <td class="label">Nationalité:</td>
                <td>{{chercheur.nationalite.nom}}</td>
            </tr>
            <tr>
                <td class="label">Fonction:</td>
                <td>{{chercheur.fonction}}</td>
            </tr>
            <tr>
                <td class="label">Diplôme:</td>
                <td>{{chercheur.diplome}}</td>
            </tr>
        </table>
        <table>
            {% if chercheur.url_site_web %}
            <tr>
                <td class="label">Url site web:</td>
                <td><a href="{{chercheur.url_site_web}}">{{chercheur.url_site_web}}</a></td>
            </tr>
            {% endif %}
            {% if chercheur.url_blog %}
            <tr>
                <td class="label">Blog:</td>
                <td><a href="{{chercheur.url_blog}}">{{chercheur.url_blog}}</a></td>
            </tr>
            {% endif %}
            {% if chercheur.url_facebook %}
            <tr>
                <td class="label">Facebook:</td>
                <td><a href="{{chercheur.url_facebook}}">{{chercheur.url_facebook}}</a></td>
            </tr>
            {% endif %}
            {% if chercheur.url_linkedin %}
            <tr>
                <td class="label">Linkedin:</td>
                <td><a href="{{chercheur.url_linkedin}}">{{chercheur.url_linkedin}}</a></td>
            </tr>
            {% endif %}
        </table>

        <h5>Thèmes de recherche et publications</h5>
        <table id="publications">
            <tr class="souligne">
                <td class="label">Thèmes de recherche et domaine d'expertise:</td>
                <td>{{chercheur.expertise}}</td>
            </tr>
            {% if chercheur.these %}
            <tr class="souligne">
                <td class="label">Thèse:</td>
                <td>{{chercheur.these.publication_affichage}}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="label">Publications:</td>
                {% with chercheur.publication1 as publication %}{% include "chercheurs/publication_display.html" %}{% endwith %}
            </tr>
            <tr>
                <td class="label"></td>
                {% with chercheur.publication2 as publication %}{% include "chercheurs/publication_display.html" %}{% endwith %}
            </tr>
            <tr>
                <td class="label"></td>
                {% with chercheur.publication3 as publication %}{% include "chercheurs/publication_display.html" %}{% endwith %}
            </tr>
            <tr>
                <td class="label"></td>
                {% with chercheur.publication4 as publication %}{% include "chercheurs/publication_display.html" %}{% endwith %}
            </tr>
        </table>

        <h5>Domaines de recherche</h5>
        <table>
            <tr>
                <td class="label">Adhésion(s) active(s):</td>
                <td>
                {% for g in chercheur.chercheurgroupe_set.all %}
                    {{g.groupe.nom}}<br />
                {% endfor %}
                </td>
            </tr>
        </table>
        
        {% if chercheur.discipline %}
        <h5>Discipline</h5>
        <table>
            <tr>
                <td class="label">Adhésion(s) active(s):</td>
                <td>
                {% for g in chercheur.chercheurgroupe_set.all %}
                    {{g.groupe.nom}}<br />
                {% endfor %}
                </td>
            </tr>
        </table>        
        
        


    </div>

</div>

{% endblock %}
