{% extends "container_base.html" %}
{% load pagination_tags %}

{% block contenu %}
{% autopaginate sites 10 %}

<ul class="actions">
    <li><a href="{% url aide %}#sitotheque">Aide</a></li>
    {% include "sites/actions.html" %}
</ul>
<h1>Sites &#8212; Sitothèque</h1>

<h2>Recherche</h2>

<form method="get" action="">
    <table id="repertoire_recherche">
    {{search_form.as_table}}
    <tr><th></th><td><input type="submit" class="bouton" value="Rechercher" /></td></tr>
    </table>
</form>

<h2>Résultats</h2>
<div class="sous-titre">
    {{nb_sites}} site{{ nb_sites|pluralize }} correspondant à votre recherche
    (<a href="{% url rss_sites %}?{{ request.META.QUERY_STRING }}">Fil RSS</a>)
    {% if user.is_authenticated %}
    (<a href="{% url sauvegarder_recherche "sites" %}?{{ request.META.QUERY_STRING }}">Sauvegarder cette recherche</a>)
    {% endif %}
</div>

<div class="pagination">{% paginate %}</div>
{% for site in sites %}
{% include "sites/resultat.html" %}
{% endfor %}
<div class="pagination">{% paginate %}</div>
{% endblock %}
