{% extends "container_base.html" %}

{% block contenu %}
<h1>{{ site }}</h1>

<a href="{{site.url}}">{{site.url}}</a>
<br />
<p>{{site.description}}</p>

{% if site.site_auf %}
<p><strong>Site soutenu par l'AUF</strong></p>
{% endif %}

<table>
    <tr>
        <td><strong>Type:</strong></td>
        <td>{{site.type_display}}</td>
    </tr>
    <tr>
        <td><strong>Éditeur:</strong></td>
        <td>{{site.editeur}}</td>
    </tr>
    <tr>
        <td><strong>Auteur:</strong></td>
        <td>{{site.auteur}}</td>
    </tr>
    <tr>
        <td><strong>Mots-clés:</strong></td>
        <td>{{site.mots_cles}}</td>
    </tr>
    <tr>
        <td><strong>Date de publication:</strong></td>
        <td>{{site.date_publication|default:"-"}}</td>
    </tr>
    <tr>
        <td><strong>Disciplines:</strong></td>
        <td>{{ site.discipline.all|join:", " }}</td>
    </tr>
    <tr>
        <td><strong>Thématiques:</strong></td>
        <td>{{ site.thematique.all|join:", " }}</td>
    </tr>
</table>

{% endblock %}
