<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Savoirs en partage - Agence universitaire de la Francophonie</title>
        <link rel="icon" type="image/png" href="{{ MEDIA_URL }}img/favicon.ico" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.ui.datepicker-fr.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/tabber.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/pagination.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/sep.js"></script>
        <link href="{{ MEDIA_URL }}css/global.css" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}css/tabber.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}js/jquery/css/smoothness/jquery-ui-1.8rc3.custom.css" type="text/css" media="all" />

        <!--[if lt IE 7]>
        <link href="{{ MEDIA_URL }}css/ie6.css" rel="stylesheet" type="text/css" media="screen" />
        <script src="{{ MEDIA_URL }}js/DD_belatedPNG.js"></script>
        <script>
            DD_belatedPNG.fix('.top, .bottom, #col-droite, #contenu, .resultats');
        </script>
        <![endif]-->
    </head>

    <body>
        <div id="fond">
            <div id="enrobage" class="clearfix">
                
                <div class="sous-menu droite">
                    {% if user.is_authenticated %}
                    <a href="{% url django.contrib.auth.views.logout %}" class="bout-droit">Déconnexion</a>
                    {% else %}
                    <a href="{% url chercheurs.views.chercheur_login %}" class="bout-droit">Connexion</a>
                    {% endif %}
                    <span>|</span>
                    <a href="{% url savoirs.views.legal %}">Légal</a>
                    <span>|</span>
                    <a href="{% url savoirs.views.nous_contacter %}">Contact</a>
                    <span>|</span>
                    <a href="{% url savoirs.views.a_propos %}" class="bout-gauche">À propos</a>
                </div>
                
                <div class="sous-menu gauche">
                    <a href="{% url savoirs.views.actualite_index %}" class="bout-droit">Actualités</a>
                    <span>|</span>
                    <a href="{% url savoirs.views.evenement_index %}">Agenda</a>
                    <span>|</span>
                    <a href="{% url sitotheque.views.index %}">Sites</a>
                    <span>|</span>
                    <a href="{% url savoirs.views.ressource_index %}">Ressources</a>
                    <span>|</span>
                    <a href="{% url chercheurs.views.index %}">Répertoire</a>
                    <span>|</span>
                    <a href="{% url savoirs.views.index %}" class="bout-gauche">Accueil</a>
                </div>
                
                <div id="logo" style="clear:both;">
                    <h1>
                        <a href="http://www.auf.org" title="Agence universitaire de la Francophonie">Agence universitaire de la Francophonie</a>
                    </h1>
                </div>

                <div id="col-menu">
                    {% load sep_menu %}
                    {% sep_menu %}
                    <img src="{{ MEDIA_URL }}img/col-droite-background-bottom.png" width="190" height="8" alt="bottom" align="bottom" class="bottom" />
                </div>

                <div id="sep-recherche">
                    <h2 class="slogan">Savoirs en partage <span style="display:inline; color:#db602f;">bêta</span>
                        <span>Le portail des ressources scientifiques<br />et pédagogiques de l'AUF</span>
                    </h2>

                    <div class="boite-recherche">
                        <h3>Recherche</h3>

                        <form name="fRecherche" id="fRecherche" action="{% url savoirs.views.recherche %}" method="get">
                            <input name="q" id="recherche" type="text" value="{{ q|default:"" }}" />
                            <button title="Lancer la recherche" type="submit">&nbsp;</button>
                        </form>

                        <p>
                        <a href="{% url savoirs.views.avancee %}">Recherche avancée</a>
                        {% comment %} | 
                        <a href="{% url savoirs.views.conseils %}">Conseils</a>
                        {% endcomment %}
                        </p>
                    </div>
                </div>
                
                <div id="contenu" class="clearfix">
                    <img src="{{ MEDIA_URL }}img/contenu-bkg-top.png" width="744" height="10" alt="top" align="top" class="top" />
                    <div class="clearfix">
                        {% block contenu %}
                        {% endblock %}
                    </div>
                    <!-- Fin block -->
                    <img src="{{ MEDIA_URL }}img/contenu-bkg-bottom.png" width="744" height="10" alt="bottom" align="bottom" class="bottom" />
                </div>

                <div class="clear"></div>	
            </div>
        </div>	
    </body>
</html>
