{% extends "container_base.html" %}

{% block contenu %}

<h4>Connexion</h4>
<div class="contenu-wrapper">
    {% if form.errors %}
    <p class="message">Login ou mot de passe invalide.</p>
    {% endif %}
    <form method="post" action="{% url chercheurs.views.chercheur_login %}">
      <fieldset>
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <p><a href="{% url chercheurs.views.send_password %}">Mot de passe oublié ?</a></p>
      <input type="submit" value="Connexion" />
      <input type="hidden" name="next" value="{% if next %}{{next}}{% else %}/chercheurs/perso/{% endif %}" />
      </fieldset>
    </form>
</div>

{% endblock %}

