{% extends "container_base.html" %}

{% block contenu %}

{% if form.errors %}
<p>Login ou mot de passe invalide.</p>
{% endif %}

  <div class="zone-texte">
    <form method="post" action="{% url chercheurs.views.chercheur_login %}">
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>

      <input type="submit" value="Connexion" />
      <input type="hidden" name="next" value="{% if next %}{{next}}{% else %}/chercheurs/perso/{% endif %}" />
    </form>
  </div>

{% endblock %}

