{% extends "container_base.html" %}

{% block contenu %}
<h1>Demande de changement de mot de passe</h1>
{% if message %}
<div id="flash-message">{{message}}</div>
<p>Cliquez <a href="{% url django.contrib.auth.views.login %}">ici</a> 
pour accéder à votre <a href="{% url django.contrib.auth.views.login %}">espace chercheur.</a> </p>
{% endif %}
<form method="post">
    <fieldset>
        <span>Veuillez saisir un nouveau mot de passe.</span>
        {% include "table_form.html" %}
    </fieldset>
    <input type="submit" name="Submit" value="Envoyer" class="bouton" />
</form>
{% endblock %}
