{% extends "admin/change_list.html" %}
{% load admin_static %}
{% load i18n %}

{% block search %}
<div id="toolbar"><form id="changelist-search" action="" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="{% static "admin/img/icon_searchbox.png" %}" alt="Recherche" /></label>
<input type="text" size="40" name="admin_search" value="{{ request.GET.admin_search }}" id="searchbar" />
<label>
<input type="checkbox" name="admin_search_titre" value="1" {% if request.GET.admin_search_titre %}checked="checked"{% endif %} />
Titre
</label>
&nbsp;
<label>
<input type="checkbox" name="admin_search_description" value="1" {% if request.GET.admin_search_description %}checked="checked"{% endif %} />
Description 
</label>
&nbsp;
<label>
<input type="checkbox" name="admin_search_sujet" value="1" {% if request.GET.admin_search_sujet %}checked="checked"{% endif %} />
Sujet
</label>
&nbsp;
<label>
<input type="checkbox" name="admin_search_auteur" value="1" {% if request.GET.admin_search_auteur %}checked="checked"{% endif %} />
Auteur
</label>
&nbsp;
<input type="submit" value="Recherche" />
{% if request.GET.admin_search %}
<span class="small quiet">{% blocktrans count cl.result_count as counter %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with cl.full_result_count as full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
{% endif %}
{% for pair in cl.params.items %}
    {% ifnotequal pair.0|slice:":6" "admin_" %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
{% endfor %}
</div>
</form></div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endblock %}
