{% extends "container_base.html" %}

{% block contenu %}
<h4>À propos de</h4>
	
		<div class="zone-texte"><!--
		@page { margin: 2cm }
		P { margin-bottom: 0.21cm }
-->

<p style="margin-bottom: 0cm;"><span style="color: #000000;">Le portail
"Savoirs en partage" est une initiative de l'AUF pour
<span style="color: #993300;"><span style="color: #bf153e;"><strong>valoriser les activités scientifiques</strong></span> </span>(toutes disciplines et
thématiques confondues) de la communauté universitaire, à partir
du moment où elles sont conduites en partenariat avec l'Agence.</span></p>
<p style="margin-bottom: 0cm;"><span style="color: #000000;">&nbsp;</span></p>
<p style="margin-bottom: 0cm;"><span style="color: #000000;">Le champ couvert
  par ce site recouvre actuellement plus de <span style="color: #bf153e;"><strong><a href="{% url savoirs.views.informations %}">{{ count }} sites et bases de données accessibles</a></strong></span> séparément à travers les serveurs
que l'AUF a déployé , notamment grâce à son réseau de campus
numériques francophones.</span></p>
<p style="margin-bottom: 0cm;"><span style="color: #000000;">&nbsp;</span></p>
<p style="margin-bottom: 0cm;"><span style="color: #000000;">Le portail "Savoirs en partage"
a pour objectifs : 
</span></p>
<p style="margin-bottom: 0cm;"><span style="color: #f8ffff;"><br /></span></p>

<p style="margin-bottom: 0cm;"><span style="color: #bf153e;"><strong><em>pour la partie RESSOURCES</em>
</strong></span>
</p>
<p style="margin-bottom: 0cm;"><span style="color: #000000;">- soutenir et développer la production
et la valorisation des ressources pédagogiques et scientifiques en
français liées aux programmes de l'AUF, au bénéfice de l'ensemble
du public universitaire. Ainsi, ce site pemet l'accès aux revues
scientifiques, bibliothèques en lignes ou répertoires de chercheurs
de l'AUF. 
</span></p>
<p style="margin-bottom: 0cm;">
<span style="color: #000000;"><span style="color: #000000;"><em>Le site doit se doter à terme <span style="color: #000000;">d'un</span><span style="color: #000000;">
</span>moteur de recherche fédérée qui permettra une recherche fine dans
les différentes bases de contenus mis en ligne par l'AUF, ses
implantations et ses <span style="color: #000000;">partenaires</span><span style="color: #000000;">.</span></em></span></span></p>
<p style="margin-bottom: 0cm;"><span style="color: #bf153e;"><em><br /></em></span></p>
<p style="margin-bottom: 0cm;"><span style="color: #bf153e;"><strong><em>pour la partie ACTUALITES
et AGENDA</em></strong></span></p>

<p style="margin-bottom: 0cm;"><span style="color: #000000;">- d'offrir une vision d'ensemble des
activités scientifiques menées en partenariat avec l'AUF. En outre,
vous disposez d'un agenda  vous permettant d'enregistrer les
manifestations scientifiques menées dans votre université ou
institution, et ce afin de leur donner une plus grande visibilité
internationale. 
</span></p>

</div>
{% endblock %}
