{% extends "container_base.html" %}

{% block contenu %}
<h4>Nous contacter</h4>

<div class="zone-texte">
    <p style="margin-bottom: 0cm;">Le projet <span style="color: #800000;">S</span><span style="color: #800000;"><em>avoirs en partage</em></span> est conduit par l'AUF. 
    </p>
    <p style="margin-bottom: 0cm;">&nbsp;</p>
    <p style="margin-bottom: 0cm;">Vous pouvez écrire au Webmaster du
    site : <span style="color: #800000;">savoirsenpartage@auf.org</span></p>
    <p style="margin-bottom: 0cm;">&nbsp;</p>
    <p style="margin-bottom: 0cm;">&nbsp;</p>
    <p style="margin-bottom: 0cm;">Vous trouverez ci-dessous les adresses
    du rectorat de l'AUF. Les adresses de nos différentes implantations
    sont  accessibles sur notre site : <a href="http://www.auf.org/">www.auf.org</a></p>

    <p style="margin-bottom: 0cm;">&nbsp;</p>
    <p style="margin-bottom: 0cm;"><span style="text-decoration: underline;">AUF- Rectorat et Siège : </span>
    </p>
    <p style="margin-bottom: 0cm;">Adresse postale : 
    </p>
    <p style="margin-bottom: 0cm;">Case postale du Musée 
    </p>
    <p style="margin-bottom: 0cm;">C.P. 49714 
    </p>
    <p style="margin-bottom: 0cm;">Montréal, (Québec) H3T 2A5 
    </p>
    <p style="margin-bottom: 0cm;">Canada 
    </p>
    <p style="margin-bottom: 0cm;">&nbsp;</p>

    <p style="margin-bottom: 0cm;">Adresse physique : 
    </p>
    <p style="margin-bottom: 0cm;">3034, Boul. Edouard-Montpetit 
    </p>
    <p style="margin-bottom: 0cm;">Montréal, (Québec) H3T 1J7 
    </p>
    <p style="margin-bottom: 0cm;">Canada 
    </p>
    <p style="margin-bottom: 0cm;">Téléphone :	+1 514 343 66 30 
    </p>
    <p style="margin-bottom: 0cm;">Télécopie :	+1 514 343 57 83 
    </p>
    <p style="margin-bottom: 0cm;">&nbsp;</p>
    <p style="margin-bottom: 0cm;">&nbsp;</p>
    <p style="margin-bottom: 0cm;"><span style="text-decoration: underline;">AUF- Rectorat et Services centraux</span></p>

    <p style="margin-bottom: 0cm;">4, place de la Sorbonne 
    </p>
    <p style="margin-bottom: 0cm;">75005 Paris 
    </p>
    <p style="margin-bottom: 0cm;">France 
    </p>
    <p style="margin-bottom: 0cm;">&nbsp;</p>
    <p style="margin-bottom: 0cm;">Téléphone :	+33 1 44 41 18 18 
    </p>
    <p style="margin-bottom: 0cm;">Télécopie :	+33 1 44 41 18 19 
    </p>
    <p style="margin-bottom: 0cm;">&nbsp;</p></div>

{% endblock %}
