{% extends "container_base.html" %}

{% block contenu %}
<script>
  $(document).ready(function(){
    makePageLinks ({{ page|default:0 }}, {{ data.last_page|default:0 }}, 
                   '{{ data.more_link }}');
  });

  {% if user.is_authenticated %}
  function showEditModal (uri) {
    $('#jsonsource').load ('{% url savoirs.views.json_get %}?uri='+uri, 
    function() {
      __jf = new JSONForm ('schema', 'mainform', 'jsonsource');
      __jf.setup ();
      $('#edit-form').dialog({height: 400, width: 650, modal: true});
    });
  }
  {% endif %}


</script>

<h4>Résultats de recherche pour « {{ q }} » :</h4>

<div class="zone-texte">
  {% for r in data.results %}
  <div class="resultatRecherche">
    <a class="le-titre" href="{{ r.uri }}">{{ r.title|safe }}</a>
    <div class="resultatResume">{{ r.content|safe }}</div>
    <a class="ligne-url" href="{{ r.uri }}">{{ r.uri }}</a>
    {% if user.is_authenticated %}
    <a href="#" onclick="showEditModal('{{ r.id }}'); return false;">EDIT</a>
    {% endif %}
  </div>
  {% empty %}
  <div class="resultatRecherche">
    <h2>Aucun résultat trouvé</h2>
  </div>
  {% endfor %}
</div>
<div class="resultatPages">
  <span id="pageLinks">
  </span>
</div>

{% if user.is_authenticated %}
{% include "savoirs/editor.html" %}
{% endif %}

{% endblock %}
